##### Player salary
A player's salary in 1985 dollars is not what it would be in 2016 dollars, so I've adjusted for inflation using the [United States Bureau of Labor Statistics' Consumer Price Index](https://www.bls.gov/data/) historical data (each year adjusted independently and then the average taken of all a player's salaries over the course of a baseball career). Each salary was adjusted to the 2016 annual average (2017 doesn't yet have a year-end average. I then average the salary across a player's career:
* load the salaries and cpi dataframes
* lambda function queries the cpi dataframe to find a value corresponding to the year x
* vectorized operation to create 'adjusted' column and compute adjusted salary using lambda function
* supress scientific notation in the dataframe
* compute average salary over the course of a player's career
    * group by playerID and find the average
    * drop yearID column
    * rename 'adjusted'column to 'avg-salar-adj'

# The Lahman Baseball Database - Exploratory Data Analysis
Matthew Chana - March 25th 2017

### SUMMARY

##### The Lahman Baseball Database
The Lahman Baseball Database is a comprehensive record of batting and pitching statistics from 1871 to 2016. It also contains fielding statistics, standings, team stats, managerial records, post-season data, and a number of other data points.

##### Batting Average vs. General Measures of Success
In this investigation I will focus on a clear measure of performance - career batting average, which is arguably the most important statistic with respect to hitting in baseball. ** *Does career batting average correlate to general notions of success such appearing in an All-Star game, garnering a high salary or winning awards?* ** One would expect so. If it does, perhaps a more unique investigation using a less obvious statistic can be extended from the initial one.

The most relevant tables from The Lahman Baseball Database for the investigation are:

* Regular-season batting statistics (Batting.csv)
* All-Star appearances (AllstarFull.csv)
* Player salary (Salaries.csv)
* Awards received (AwardsPlayers.csv)

##### Players Considered for the Investigation
Batting average in baseball is an excellent measure of performance, but really only for players who are expected to hit at least fairly well. I will discard pitchers for this reason, and I will only consider players with 250 more games in which they have batted.

One interesting note - a player to look out for in many of these tables is Hank Aaron (playerID: aaronha01), who one of the most regarded players in baseball history.

### DATA WRANGLING

##### Create List of Players Considered for the Investigation

In [1]:
import pandas as pd

# display all columns for each dataframe
pd.set_option('display.max_columns', None)

# display 6 rows (top 3 and bottom 3) for each dataframe
pd.set_option('display.max_rows', 6)

In [2]:
# funciton to make loading tables easier
def load(data_file):
    return pd.read_csv('supporting-files/baseballdatabank-2017/core/' + data_file)

The Appearances table from the Lahman Baseball Database contains each player's number of appearances, including number of times played in each position and number of games in which the player batted, for each season since 1871. This table will allow for a new table to be created that only includes non-pitchers and players batting 250 or more games.

In [3]:
# load the appearances table
appearances_full = load('Appearances.csv')
appearances_full

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,TRO,NaN,abercda01,1,NaN,1,1,0,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN
1,1871,RC1,NaN,addybo01,25,NaN,25,25,0,0,0,22,0,3,0,0,0,0,NaN,NaN,NaN
2,1871,CL1,NaN,allisar01,29,NaN,29,29,0,0,0,2,0,0,0,29,0,29,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102758,2016,CHN,NL,zobribe01,147,142.0,147,146,0,0,1,119,0,1,27,0,24,46,0.0,4.0,0.0
102759,2016,SEA,AL,zuninmi01,55,48.0,55,52,0,52,0,0,0,0,0,0,0,0,2.0,3.0,0.0
102760,2016,SEA,AL,zychto01,12,0.0,0,12,12,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0

In [4]:
# group and sum to find career appearances for each player based on unique playerID
career_appearances = appearances_full.groupby(appearances_full.playerID).sum()

# drop the yearID column
career_appearances = career_appearances.drop('yearID', axis=1)

career_appearances

,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
playerID,,,,,,,,,,,,,,,,,
aardsda01,331,0.0,139,331,331,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0
aaronha01,3298,3173.0,3298,2985,0,0,210,43,7,0,315,308,2174,2760,201.0,122.0,1.0
aaronto01,437,206.0,437,346,0,0,232,7,10,0,135,1,2,137,0.0,102.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuverge01,266,31.0,266,265,265,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0
zwilldu01,366,310.0,366,339,0,0,3,0,0,0,0,334,4,338,0.0,24.0,1.0
zychto01,25,1.0,0,25,25,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0

The Appearances table doesn't define who is to be considered a pitcher, first baseman, left fielder, and so forth. It only records the number of games a player made an apperance. Let's consider a pitcher to be any player who made more than 90% of his appearances as a pitcher.

In [5]:
# function to determine who is NOT a pitcher based on a threshold
def is_not_pitcher(row):
    try: 
        ratio = float(row[4]) / sum(row[4:13])
    except:
        return False
    return ratio < 0.90

In [6]:
# create dataframe of players who are NOT pitchers
not_pitchers = career_appearances[career_appearances.apply(is_not_pitcher, axis=1)]
not_pitchers

,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
playerID,,,,,,,,,,,,,,,,,
aaronha01,3298,3173.0,3298,2985,0,0,210,43,7,0,315,308,2174,2760,201.0,122.0,1.0
aaronto01,437,206.0,437,346,0,0,232,7,10,0,135,1,2,137,0.0,102.0,35.0
abadan01,15,4.0,15,9,0,0,8,0,0,0,0,0,1,1,0.0,7.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zupofr01,16,1.0,16,13,0,13,0,0,0,0,0,0,0,0,0.0,5.0,0.0
zuvelpa01,209,138.0,209,197,0,0,0,55,14,133,0,0,0,0,3.0,14.0,9.0
zwilldu01,366,310.0,366,339,0,0,3,0,0,0,0,334,4,338,0.0,24.0,1.0

In [8]:
# narrow down to players batting 250 or more career games
players = not_pitchers[not_pitchers['G_batting'] > 250]
players

,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
playerID,,,,,,,,,,,,,,,,,
aaronha01,3298,3173.0,3298,2985,0,0,210,43,7,0,315,308,2174,2760,201.0,122.0,1.0
aaronto01,437,206.0,437,346,0,0,232,7,10,0,135,1,2,137,0.0,102.0,35.0
abbated01,855,NaN,855,855,0,0,0,419,20,388,0,2,1,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuninmi01,350,323.0,350,344,0,344,0,0,0,0,0,0,0,0,3.0,7.0,1.0
zupcibo01,319,198.0,319,285,0,0,1,0,2,0,100,112,96,282,11.0,25.0,34.0
zwilldu01,366,310.0,366,339,0,0,3,0,0,0,0,334,4,338,0.0,24.0,1.0

In [11]:
# create a list of players who are NOT pitchers and who have batted 250 or more games
players_list = list(players.index)
players_list

['aaronha01',
 'aaronto01',
 'abbated01',
 'abbeych01',
 'abbotku01',
 'abnersh01',
 'abramca01',
 'abreubo01',
 'abreujo02',
 'ackledu01',
 'adairje01',
 'adamsbe01',
 'adamsbo03',
 'adamsbu01',
 'adamsgl01',
 'adamsma01',
 'adamsru01',
 'adamssp01',
 'adcocjo01',
 'addybo01',
 'agbaybe01',
 'ageeto01',
 'agnewsa01',
 'aguaylu01',
 'aikenwi01',
 'ainsmed01',
 'aldremi01',
 'alexada01',
 'alexaga01',
 'alexama01',
 'alexama02',
 'alfoned01',
 'alicelu01',
 'allanan01',
 'allenbe01',
 'allenbo01',
 'allench01',
 'allendi01',
 'allenet01',
 'allenga01',
 'allenha02',
 'allenje01',
 'alleyge01',
 'allisbo01',
 'allisdo01',
 'almadme01',
 'almonbi01',
 'alomaro01',
 'alomasa01',
 'alomasa02',
 'alonsyo01',
 'aloufe01',
 'alouje01',
 'alouma01',
 'aloumo01',
 'alperwh01',
 'altizda01',
 'altmage01',
 'altuvjo01',
 'alusige01',
 'alvarlu01',
 'alvarpe01',
 'alvisma01',
 'alvorbi01',
 'alyeabr01',
 'amalfjo01',
 'amarari01',
 'amarial01',
 'amaroru01',
 'amaroru02',
 'amblewa01',
 'amezaal01',
 'amorosa01',
 'anderbr01',
 'anderbr03',
 'anderda02',
 'anderga01',
 'anderge01',
 'anderha02',
 'anderji01',
 'anderjo01',
 'anderma02',
 'andermi01',
 'andinro01',
 'andreed01',
 'andremi01',
 'andrero01',
 'andresh01',
 'andruel01',
 'ankieri01',
 'ansonca01',
 'anthoer01',
 'aokino01',
 'aparilu01',
 'applilu01',
 'archeji01',
 'arciajo01',
 'arciaos01',
 'arenano01',
 'arencjp01',
 'arftha01',
 'ariasal01',
 'ariasjo01',
 'armasto01',
 'arndtha01',
 'arnolch01',
 'arnovmo01',
 'ascheco01',
 'ashburi01',
 'ashbyal01',
 'ashlebi01',
 'asprobo01',
 'asproke01',
 'asselbr01',
 'astrojo01',
 'atkinga01',
 'atwelto01',
 'atwoobi01',
 'auerbri01',
 'aultdo01',
 'aurilri01',
 'ausmubr01',
 'austiji01',
 'avenbr01',
 'averiea01',
 'averiea02',
 'avilaal01',
 'avilabo01',
 'avilemi01',
 'ayalabe01',
 'aybarer01',
 'aybarwi01',
 'azcuejo01',
 'babbch01',
 'backmwa01',
 'baergca01',
 'bagweje01',
 'bailebo01',
 'baileed01',
 'bailema01',
 'bailobo01',
 'baineha01',
 'bairddo01',
 'bakerbi01',
 'bakerdu01',
 'bakerfl01',
 'bakerfr01',
 'bakerge02',
 'bakerje03',
 'bakerjo01',
 'bakopa01',
 'balbost01',
 'baldero01',
 'baldwki01',
 'ballne01',
 'bancrda01',
 'bandoch01',
 'bandosa01',
 'banksbr01',
 'bankser01',
 'bannial01',
 'bannoji01',
 'barajro01',
 'barbawa01',
 'barbebr01',
 'barbetu01',
 'barclge01',
 'bardjo01',
 'barfije01',
 'barfijo02',
 'barklsa01',
 'barmecl01',
 'barnebr02',
 'barneda01',
 'barnere01',
 'barnero01',
 'barnesk01',
 'barnhcl01',
 'barrebi02',
 'barreji01',
 'barrejo01',
 'barrema02',
 'barremi01',
 'barryja01',
 'barrysh01',
 'bartedi01',
 'bartlja01',
 'bartobo01',
 'bartoda02',
 'bassech01',
 'basske01',
 'bassljo01',
 'bastich01',
 'batchem01',
 'batemjo01',
 'batesja01',
 'batesjo02',
 'batiski01',
 'batisto01',
 'batteea01',
 'battijo01',
 'battsma01',
 'bauerha01',
 'baumapa01',
 'baumhfr01',
 'bautida01',
 'bautijo02',
 'bayha01',
 'bayja01',
 'baylodo01',
 'beanbi01',
 'beardol01',
 'beaucji01',
 'beaumgi01',
 'beckcl01',
 'beckebe01',
 'beckegl01',
 'beckeri01',
 'beckfr02',
 'beckhgo01',
 'becklja01',
 'beckzi01',
 'becquju01',
 'beeched01',
 'bejmaol01',
 'belanma01',
 'belarwa01',
 'bellbe01',
 'bellbu01',
 'bellda01',
 'bellde01',
 'belleal01',
 'bellge02',
 'bellgu01',
 'bellhma01',
 'bellira01',
 'belliro01',
 'bellja01',
 'bellju01',
 'bellke01',
 'bellle01',
 'beltbr01',
 'beltrad01',
 'beltrca01',
 'bemisha01',
 'benarma01',
 'benchjo01',
 'benedbr01',
 'bengobe01',
 'beniqju01',
 'benjami01',
 'bennech01',
 'bennega01',
 'bennehe01',
 'bentlja01',
 'benzito01',
 'berarjo01',
 'berbelo01',
 'bergda01',
 'bergebi01',
 'bergebo01',
 'bergema01',
 'bergepe01',
 'bergewa01',
 'berghma01',
 'bergmda01',
 'bergmo01',
 'berkmla01',
 'bernaro01',
 'bernato01',
 'berrada01',
 'berrayo01',
 'berrera01',
 'berroan01',
 'berroge01',
 'berrych02',
 'berryda01',
 'berryke01',
 'berryne01',
 'berryse01',
 'bertedi01',
 'bertore01',
 'beschbo01',
 'betanyu01',
 'betemwi01',
 'bettsmo01',
 'betzebr01',
 'bevacku01',
 'biancbu01',
 'bicheda01',
 'bierblo01',
 'bigbeca01',
 'bigbila01',
 'biggicr01',
 'biittla01',
 'bilarda01',
 'bilkost01',
 'billidi01',
 'binksge01',
 'birmijo01',
 'bishoma01',
 'bissode01',
 'blackch02',
 'blackle01',
 'blackti01',
 'bladera01',
 'blairpa01',
 'blairwa01',
 'blakeca01',
 'blakeha01',
 'blaloha01',
 'blancan01',
 'blancgr01',
 'blanche01',
 'blancjo01',
 'blankky01',
 'blankla01',
 'blankla02',
 'blasido01',
 'blattbu01',
 'blausje01',
 'blaylma01',
 'blefacu01',
 'blombro01',
 'bloodji01',
 'bloomwi01',
 'blowemi01',
 'bluegos01',
 'bluelu01',
 'blumge01',
 'bocachi01',
 'boccajo01',
 'bochtbr01',
 'bochybr01',
 'bodiepi01',
 'boeckto01',
 'boescbr01',
 'bogaexa01',
 'bogarti01',
 'boggswa01',
 'bogusbr01',
 'bohnesa01',
 'boiscbr01',
 'boleyjo01',
 'bolgeji01',
 'bollifr01',
 'bollimi01',
 'boltocl01',
 'bondsba01',
 'bondsbo01',
 'bondto01',
 'bondwa01',
 'bonifem01',
 'bonilbo01',
 'bonilju01',
 'bonneba01',
 'bonurze01',
 'booneaa01',
 'boonebo01',
 'boonebr01',
 'booneik01',
 'boonelu01',
 'boonera01',
 'borboju01',
 'borchjo01',
 'bordafr01',
 'bordepa01',
 'bordimi01',
 'borgmgl01',
 'borkobo01',
 'borosst01',
 'bortoba01',
 'bosetri01',
 'bosleth01',
 'bostoda01',
 'bostoly01',
 'bosweke01',
 'bottoji01',
 'bouched01',
 'boudrlo01',
 'bourgja01',
 'bourjpe01',
 'bourju01',
 'bournmi01',
 'bournra01',
 'bowala01',
 'bowensa01',
 'bowerfr01',
 'bowmabo02',
 'boydbo01',
 'boyercl02',
 'boyerke01',
 'boylebu01',
 'boylehe01',
 'boyleja01',
 'brackgi01',
 'bradfbu01',
 'bradlbi01',
 'bradlge01',
 'bradlhu01',
 'bradlja02',
 'bradlmi01',
 'bradlph01',
 'bradlsc01',
 'bradyst01',
 'bragabo01',
 'braggda01',
 'bragggl01',
 'brainda01',
 'brancal01',
 'brandja01',
 'brandro01',
 'bransje01',
 'branski01',
 'brantmi01',
 'brantmi02',
 'branyru01',
 'braunry02',
 'braunst01',
 'breamsi01',
 'breedha01',
 'breedma01',
 'breitte01',
 'brenlbo01',
 'bresnro01',
 'bressed01',
 'bressru01',
 'brettge01',
 'brickfr01',
 'brideji01',
 'bridgro01',
 'bridwal01',
 'briggda01',
 'briggjo02',
 'brighha01',
 'brignre01',
 'brilegr01',
 'brinked01',
 'briodfa01',
 'brockgr01',
 'brocklo01',
 'brodist01',
 'brognri01',
 'brohaja01',
 'brookhu01',
 'brookto01',
 'brosisc01',
 'brouhma01',
 'brousbe01',
 'broutda01',
 'browebo01',
 'browefr01',
 'brownad01',
 'brownbo03',
 'brownbo04',
 'brownbr01',
 'brownby01',
 'brownch02',
 'brownde02',
 'browndi01',
 'browndo01',
 'browned02',
 'brownem01',
 'brownga01',
 'brownge01',
 'brownik01',
 'brownje01',
 'brownji03',
 'brownla01',
 'brownle01',
 'brownmi02',
 'brownol02',
 'brownpe01',
 'brownto01',
 'brownto02',
 'brownwi01',
 'brubabi01',
 'bruceja01',
 'bruggfr01',
 'brumfja01',
 'brumlmi02',
 'brunato01',
 'brunter01',
 'brutobi01',
 'bryanbi01',
 'bryankr01',
 'bryest01',
 'buchabr01',
 'bucheje01',
 'bucheji01',
 'buckjo01',
 'buckldi01',
 'bucknbi01',
 'bucktr01',
 'buddido01',
 'buechst01',
 'buelofr01',
 'buffich01',
 'buforda01',
 'bufordo01',
 'buhneja01',
 'bumbral01',
 'burchal01',
 'burdabo01',
 'burdoja01',
 'burgesm01',
 'burkech01',
 'burkeed01',
 'burkeje01',
 'burkeji01',
 'burksel01',
 'burleri01',
 'burnejo01',
 'burnije01',
 'burnsed01',
 'burnsge01',
 'burnsge02',
 'burnsja02',
 'burnsoy01',
 'burnsto01',
 'burrepa01',
 'burriem01',
 'burroje01',
 'burrose01',
 'burrudi01',
 'busbyji01',
 'busched01',
 'bushdo01',
 'bushho01',
 'bushodo01',
 'bushra01',
 'buterdr01',
 'butersa01',
 'butlear01',
 'butlebi03',
 'butlebr01',
 'butlejo02',
 'byrdma01',
 'byrdsa01',
 'byrnebo01',
 'byrneer01',
 'byrnemi01',
 'cabalpu01',
 'cabelen01',
 'cabreas01',
 'cabreev01',
 'cabrejo02',
 'cabreme01',
 'cabremi01',
 'cabreor01',
 'cadyhi01',
 'cahiljo01',
 'cainlo01',
 'cairomi01',
 'caldeiv01',
 'caldwra02',
 'calhoko01',
 'callaal01',
 'callama01',
 'callani01',
 'callijo01',
 'camermi01',
 'camildo01',
 'camildo02',
 'caminke01',
 'campabe01',
 'camparo01',
 'campato01',
 'campbbr01',
 'campbda01',
 'campbgi01',
 'campbvi01',
 'canavji01',
 'candaca01',
 'cangejo01',
 'canneri01',
 'cannich01',
 'canoro01',
 'cansejo01',
 'cantujo01',
 'carbobe01',
 'cardejo02',
 'cardele01',
 'carewro01',
 'careyan01',
 'careyma01',
 'careysc01',
 'careyto01',
 'careyto02',
 'carnejo01',
 'carnepa01',
 'carpehi01',
 'carpema01',
 'carpmi01',
 'carrach01',
 'carrch01',
 'carrch02',
 'carreca01',
 'carreez01',
 'carrema01',
 'carribi02',
 'carrocl01',
 'carrofr01',
 'carroja01',
 'carseki01',
 'cartech02',
 'cartega01',
 'cartejo01',
 'cartwed01',
 'cartyri01',
 'carusmi01',
 'carutbo01',
 'casanpa01',
 'casanra01',
 'casege01',
 'caseydo01',
 'caseyse01',
 'cashda01',
 'cashno01',
 'casilal01',
 'caskied01',
 'cassijo01',
 'cassijo02',
 'casteni01',
 'castial01',
 'castica01',
 'castijo01',
 'castijo02',
 'castilu01',
 'castipe01',
 'castivi02',
 'castiwe01',
 'castlfo01',
 'castrja01',
 'castrju01',
 'castrra01',
 'castrst01',
 'catalfr01',
 'caterda01',
 'causewa01',
 'cavarph01',
 'cavenik01',
 'cedenan01',
 'cedence01',
 'cedendo01',
 'cedenro01',
 'cedenro02',
 'cepedor01',
 'ceronri01',
 'cervbo01',
 'cervefr01',
 'cespeyo01',
 'ceyro01',
 'chadbch01',
 'chalkda01',
 'chambch01',
 'chambwe01',
 'chancbo01',
 'chancfr01',
 'chaneda01',
 'chapmbe01',
 'chapmra01',
 'chapmsa01',
 'charled01',
 'chartmi01',
 'chaseha01',
 'chaveen01',
 'chaveer01',
 'chavera01',
 'childcu01',
 'chileri01',
 'chiozlo01',
 'chiriro01',
 'chiselo01',
 'chitiha01',
 'choihe01',
 'choosh01',
 'chrisjo01',
 'chrisma01',
 'chrisne01',
 'chrisry01',
 'churcry01',
 'cianfar01',
 'cimolgi01',
 'cintral01',
 'ciriape01',
 'cirilje01',
 'cissebi01',
 'clancbu01',
 'clappjo01',
 'clarkal01',
 'clarkbo01',
 'clarkbo02',
 'clarkbo04',
 'clarkbr02',
 'clarkda05',
 'clarkea01',
 'clarkfr01',
 'clarkho01',
 'clarkja01',
 'clarkje01',
 'clarkni01',
 'clarkph02',
 'clarkto01',
 'clarkto02',
 'clarkwi01',
 'clarkwi02',
 'clayda01',
 'claytro01',
 'clemedo01',
 'clemeja01',
 'clemero01',
 'clemove01',
 'clenddo01',
 'cliftha01',
 'clinege01',
 'clinety01',
 'clingbi01',
 'clintji01',
 'clintlo01',
 'clymeot01',
 'coangi01',
 'cobbty01',
 'cochrmi01',
 'coggiri01',
 'coghlch01',
 'cohenan01',
 'colavro01',
 'colbena01',
 'colbrgr01',
 'coleal01',
 'coledi01',
 'colemed01',
 'colemgo01',
 'colemje01',
 'colemjo01',
 'colemra01',
 'colemvi01',
 'colesda01',
 'collida02',
 'collied01',
 'collihu01',
 'colliji01',
 'collijo01',
 'collilo01',
 'collipa01',
 'colliri02',
 'collish01',
 'collizi01',
 'colmafr01',
 'colucbo01',
 'colvity01',
 'combsea01',
 'comerwa01',
 'comisch01',
 'comorad01',
 'comptpe01',
 'conceda01',
 'conceon01',
 'congabu01',
 'congeha01',
 'conigbi01',
 'conigto01',
 'coninje01',
 'connoji01',
 'connojo04',
 'connoro01',
 'conrabr01',
 'conrowi01',
 'consobi01',
 'cookdo01',
 'cookedu01',
 'cookpa01',
 'cooledu01',
 'coombja01',
 'coomero01',
 'cooneji01',
 'cooneji02',
 'coonejo01',
 'coopece01',
 'coopecl01',
 'coopesc01',
 'coopewa01',
 'coraal01',
 'corajo01',
 'corcola01',
 'corcoti01',
 'corcoto01',
 'cordewi01',
 'cordoma01',
 'coreyfr01',
 'corkhpo01',
 'corrapa01',
 'correca01',
 'correvi01',
 'coscape01',
 'costech01',
 'cottich01',
 'cottohe01',
 'coughbi01',
 'counscr01',
 'courtcl01',
 'courter01',
 'covinwe01',
 'cowanbi01',
 'cowenal01',
 'cowgico01',
 'coxbi02',
 'coxla01',
 'coxst01',
 'coxte02',
 'cozarza01',
 'crabtes01',
 'craftha01',
 'craigal01',
 'cramedo01',
 'crandde01',
 'cranddo01',
 'craneed01',
 'cranesa01',
 'cravaga01',
 'cravebi01',
 'crawfbr01',
 'crawfca02',
 'crawfpa01',
 'crawfsa01',
 'crawfwi01',
 'creamge01',
 'credejo01',
 'creebi01',
 'crespcr01',
 'crespfe01',
 'crigelo01',
 'crispco01',
 'critzhu01',
 'cromawa01',
 'croncj01',
 'cronijo01',
 'crookja01',
 'crosbbo01',
 'crosbed01',
 'crosefr01',
 'crossla01',
 'crossmo01',
 'croucfr01',
 'crousbu01',
 'crowege01',
 'crowetr01',
 'crowlbi01',
 'crowlte01',
 'cruiswa01',
 'cruzde01',
 'cruzhe01',
 'cruzja01',
 'cruzjo01',
 'cruzjo02',
 'cruzju01',
 'cruzne02',
 'cruzto02',
 'cruzto03',
 'cubbami01',
 'cuccito01',
 'cuddymi01',
 'culbele01',
 'culledi01',
 'cullero01',
 'culleti01',
 'cummimi01',
 'cunnibi02',
 'cunnijo01',
 'curtich01',
 'curtrgu01',
 'custja01',
 'cuthbne01',
 'cutshge01',
 'cuyleki01',
 'cuylemi01',
 'dadepa01',
 'dahlebi01',
 'dahlgba01',
 'dailyco01',
 'dailyed01',
 'daleype01',
 'dalledo01',
 'dalryab01',
 'dalrycl01',
 'daltoja01',
 'dalyto01',
 'damonjo01',
 'daniebe01',
 'danieka01',
 'danniha01',
 'darkal01',
 'darnatr01',
 'darwibo01',
 'dascedo01',
 'daubabr01',
 'daubeja01',
 'dauerri01',
 'daughja01',
 'daultda01',
 'davalvi01',
 'davanje01',
 'davanje02',
 'davenji01',
 'davidma01',
 'davisal01',
 'davisbe01',
 'davisbo02',
 'davisch01',
 'davisch02',
 'davisdi02',
 'daviser01',
 'davisge01',
 'davisgl01',
 'davisha01',
 'davisha02',
 'davisik02',
 'davisjo02',
 'davisju01',
 'daviskh01',
 'daviski01',
 'davisle01',
 'davismi02',
 'davisra01',
 'davisro01',
 'davisru01',
 'davissp01',
 'davisto02',
 'daviswi02',
 'dawsoan01',
 'daybo01',
 'dealch01',
 'deanch01',
 'deaslpa01',
 'deazaal01',
 'deberha01',
 'decindo01',
 'deckege01',
 'deckest01',
 'deerro01',
 'dehlmhe01',
 'dejesda01',
 'dejesiv01',
 'delahed01',
 'delahfr01',
 'delahji01',
 'delahjo01',
 'delahmi01',
 'delgaca01',
 'delgawi01',
 'delgrbo01',
 'delluda01',
 'delsiji01',
 'demaejo01',
 'demarfr02',
 'demetdo01',
 'demmira01',
 'demonge01',
 'dempsri01',
 'dennyje01',
 'denorch01',
 'dentbu01',
 'dentesa01',
 'dernibo01',
 'derosma01',
 'desauge01',
 'descada01',
 'deshide01',
 'desmoia01',
 'devermi01',
 'devliar01',
 'devliji01',
 'devorjo01',
 'dewitbl01',
 'dextech01',
 'diazal01',
 'diazbo01',
 'diazei01',
 'diazma01',
 'diazma02',
 'diazmi01',
 'dickebi01',
 'dickebu01',
 'dickech01',
 'dickeco01',
 'dicksjo01',
 'dierich01',
 'dietrde01',
 'dietzdi01',
 'difelmi01',
 'dillado01',
 'dillast01',
 'dillibo01',
 'dillopo01',
 'dilonmi01',
 'dimagdo01',
 'dimagjo01',
 'dimagvi01',
 'dirksan01',
 ...]

We stared off with {{len(career_appearances)}} unique players who's appearances were recorded in the Appearances table. We are left with {{len(list(players.index))}} players who are NOT pitchers and who have batted more than 250 times.

##### Prepare Relevant Dataframes for Analysis

##### Regular-season batting statistics (Batting.csv):

In [13]:
# load original batting table
batting = load('Batting.csv')

# group by playerID and sum to find career statistics for each player 
batting_career = batting.groupby(batting.playerID).sum()

# drop the yearID column
batting_career = batting_career.drop('yearID',axis=1)

# calculate career batting average
batting_career['lifetime_BA'] = round((batting_career['H']/batting_career['AB']),4)

# remove players who never batted (NaN)
batting_career.dropna(subset=['lifetime_BA'], inplace=True)

batting_career

,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,lifetime_BA
playerID,,,,,,,,,,,,,,,,,,,
aardsda01,9,331,4,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0,0.0000
aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0,0.3050
aaronto01,7,437,944,102,216,42,6,13,94.0,9.0,8.0,86,145.0,3.0,0.0,9.0,6.0,36.0,0.2288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuvelpa01,9,209,491,41,109,17,2,2,20.0,2.0,0.0,34,50.0,1.0,2.0,18.0,0.0,8.0,0.2220
zuverge01,12,266,142,5,21,2,1,0,7.0,0.0,1.0,9,39.0,0.0,0.0,16.0,0.0,3.0,0.1479
zwilldu01,4,366,1280,167,364,76,15,30,202.0,46.0,NaN,128,139.0,NaN,4.0,31.0,NaN,NaN,0.2844

There are {{len(batting_career.index)}} unique players who's career batting statistics we are left with after removing any players who never batted. Players who are are pitchers or who have batted less than 250 times still need to be removed.

In [14]:
# function returns True if a playerID from any given dataframe is in the players_list
def remove_from_df(id):
    return id in players_list

In [15]:
# remove any player who is NOT in the players_list
batting_career = batting_career[batting_career.index.map(remove_from_df)]

batting_career

,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,lifetime_BA
playerID,,,,,,,,,,,,,,,,,,,
aaronha01,23,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0,0.3050
aaronto01,7,437,944,102,216,42,6,13,94.0,9.0,8.0,86,145.0,3.0,0.0,9.0,6.0,36.0,0.2288
abbated01,11,855,3044,355,772,99,43,11,324.0,142.0,NaN,289,16.0,NaN,33.0,93.0,NaN,NaN,0.2536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuninmi01,4,350,1125,117,219,43,2,50,133.0,1.0,4.0,75,404.0,1.0,31.0,8.0,8.0,23.0,0.1947
zupcibo01,6,319,795,99,199,47,4,7,80.0,7.0,5.0,57,137.0,3.0,6.0,20.0,8.0,15.0,0.2503
zwilldu01,4,366,1280,167,364,76,15,30,202.0,46.0,NaN,128,139.0,NaN,4.0,31.0,NaN,NaN,0.2844

There are now {{len(batting_career)}} players who are not pitchers and who have batted more than 250 games who's career Regular-season batting statistics we can use for the investigation.

##### All-Star appearances (AllstarFull.csv):

What is an appropriate measure of All-Star appearances other than just calculating the total number of times a player was sent to the All-Star game? One method may simply be to find the ratio of the number of All-Star appearances to the number of years a player played. To find this I will first use the Master table (Master.csv) from the Lahman Baseball Database to compute the number of years in each player career.

In [25]:
# load master table
master = load('Master.csv')

# COMPUTE NUMBER OF YEARS PLAYED
# convert debut and finalGame columns to timestamps
master['debut'] = pd.to_datetime(master['debut'])
master['finalGame'] = pd.to_datetime(master['finalGame'])

# some rows don't have data - remove them
master.dropna(subset=['debut'], inplace=True)
master.dropna(subset=['finalGame'], inplace=True)

# calculate and add column for difference between debut and final game played
master['career-years'] =  master['finalGame'] - master['debut']

# converts days to years
master['career-years'] = master['career-years'].apply(lambda x: x.days / 365)

# group by playerID
master = master.groupby(master.playerID).first()

# remove any row with player career less than 2 years
# master = master[master['career-years'] > 2]

master

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,career-years
playerID,,,,,,,,,,,,,,,,,,,,,,,,,
aardsda01,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,NaN,NaN,NaN,David,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,11.386301
aaronha01,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,NaN,NaN,NaN,Hank,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01,22.490411
aaronto01,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01,9.468493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuverge01,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,USA,AZ,Tempe,George,Zuverink,George,195.0,76.0,R,R,1951-04-21,1959-06-15,zuveg101,zuverge01,8.156164
zwilldu01,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,USA,CA,La Crescenta,Dutch,Zwilling,Edward Harrison,160.0,66.0,L,L,1910-08-14,1916-07-12,zwild101,zwilldu01,5.915068
zychto01,zychto01,1990.0,8.0,7.0,USA,IL,Monee,NaN,NaN,NaN,NaN,NaN,NaN,Tony,Zych,Anthony Aaron,190.0,75.0,R,R,2015-09-04,2016-08-24,zycht001,zychto01,0.972603

Now the number of years played for each player can be used to find the ratio of all-star games played.

In [26]:
# load original all-star appearances table
all_star = load('AllstarFull.csv')

# count number of times player was sent to all-star game(s)
all_star['sent_to_AS'] = 1

# group by playerID and compute career all-star appearances
all_star_career = all_star.groupby(all_star.playerID).sum()

# drop unecessary columns (yearID, gameNum and startingPos)
all_star_career = all_star_career.drop(['yearID','gameNum','startingPos'],axis=1)

# concatenate this dataframe with career-years from master dataframe
all_star_career = pd.concat([all_star_career, master['career-years']], axis=1)

# remove any row with NaN for sent_to_AS (player never went to All-Star game)
all_star_career.dropna(subset=['sent_to_AS'], inplace=True)

# calculate all-star appearances average
all_star_career['avg-all-star'] = all_star_career['sent_to_AS'] / all_star_career['career-years']

# remove any row with NaN for average
# all_star_career.dropna(subset=['avg-all-star'], inplace=True)

# remove pitchers, < 25 games
all_star_career = all_star_career[all_star_career.index.map(remove_from_df)]

all_star_career

             GP  sent_to_AS  career-years  avg-all-star
aaronha01  24.0        25.0     22.490411      1.111585
abreubo01   2.0         2.0     18.084932      0.110589
abreujo02   1.0         1.0      2.509589      0.398472
...         ...         ...           ...           ...
zimmery01   1.0         1.0     11.093151      0.090146
ziskri01    2.0         2.0     12.043836      0.166060
zobribe01   2.0         3.0     10.178082      0.294751

[1024 rows x 4 columns]

There are now {{len(all_star_career)}} players who are not pitchers and who have batted more than 250 games who's career career average for All-Star appearances we can use for the investigation. Note, a player's career average All-Star appearances may be greater than 1 for players (Hank Aaron for example). This is because at periods in the 50's and 60's [more than one all star game was played](http://www.nytimes.com/2008/07/15/sports/baseball/15sandomir.html) more than one All-Star game may have been played.

In [ ]:
# load the salaries and cpi dataframes
salaries = load('Salaries.csv')
cpi = load('consumer_price_index.csv')

# lambda function queries the cpi dataframe to find a value corresponding to the year x
cpi_val = lambda x: float(cpi.loc[cpi['Year'] == x, 'Annual-Avg'].values[0])

# def cpi_val(x):
#     return float(cpi.loc[cpi['Year'] == x, 'Annual-Avg'].values[0])

# vectorized operation to create 'adjusted' column and compute adjusted salary using lambda function
salaries['avg-adjusted'] = (240.007 * salaries['salary']) / salaries['yearID'].apply(cpi_val)

# supress scientific notation in the dataframe
pd.set_option('display.float_format', lambda x: '%.0f' % x)

# compute average salary over the course of a player's career
# group by playerID and find the average
salaries_career = salaries.groupby(salaries.playerID).mean()
# drop yearID column
salaries_career = salaries_career.drop('yearID', axis=1)
# rename column to 'avg-salar-adj'
salaries_career.columns = ['avg-salary', 'avg-salary-adj']

# remove pitchers, < 25 games
salaries_career = salaries_career[salaries_career.index.map(remove_from_df)]

salaries_career

In [ ]:
# load original awards dataframe
awards_players = load('AwardsPlayers.csv')

# tally up total awards
awards_players['awarded'] = 1

# group by awards received over course of career
awards_players_career = awards_players.groupby(awards_players.playerID).sum()

# drop yearID
awards_players_career = awards_players_career.drop('yearID', axis=1)

# compute average number of awards won over the course of a player's career
# concatenate this dataframe with career-years from master dataframe
awards_players_career = pd.concat([awards_players_career, master['career-years']], axis=1)

# undo supress scientific notation
pd.set_option('display.float_format', None)

# remove any row with NaN (artifact of concatenating)
awards_players_career.dropna(inplace=True)

# calculate all-star appearances average
awards_players_career['avg-awards'] = awards_players_career['awarded'] / awards_players_career['career-years']

# remove pitchers, < 25 games
awards_players_career = awards_players_career[awards_players_career.index.map(remove_from_df)]

# awards_players
awards_players_career

# LOOK FOR CORRELATIONS - BATTING AVERAGE

In [ ]:
awards_ba = pd.concat([awards_players_career, batting_career['lifetime_BA']], axis=1)
awards_ba.dropna(inplace=True)
awards_ba

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
ax = sns.regplot(x='lifetime_BA', y='avg-awards', data=awards_ba, scatter_kws={'alpha':0.5})

plt.show()

In [ ]:
# pearson's r for ba vs. awards
awards_ba[['lifetime_BA','avg-awards']].corr()

In [ ]:
all_star_ba = pd.concat([all_star_career, batting_career['lifetime_BA']], axis=1)

all_star_ba.dropna(inplace=True)
all_star_ba

In [ ]:
ax = sns.regplot(x='lifetime_BA', y='avg-all-star', data=all_star_ba, scatter_kws={'alpha':0.5})
plt.show()

In [ ]:
all_star_ba[['lifetime_BA','avg-all-star']].corr()

In [ ]:
salary_ba = pd.concat([salaries_career, batting_career['lifetime_BA']], axis=1)

salary_ba.dropna(inplace=True)

salary_ba

In [ ]:
ax = sns.regplot(x='lifetime_BA', y='avg-salary-adj', data=salary_ba, scatter_kws={'alpha':0.5})
plt.show()

In [ ]:
salary_ba[['lifetime_BA','avg-salary-adj']].corr()

# LOOK FOR CORRELATIONS - HOMERUNS

In [ ]:
awards_hr = pd.concat([awards_players_career, batting_career['lifetime_HR']], axis=1)
awards_hr.dropna(inplace=True)
awards_hr

In [ ]:
ax = sns.regplot(x='lifetime_HR', y='avg-awards', data=awards_hr, scatter_kws={'alpha':0.5})

plt.show()

In [ ]:
awards_hr[['lifetime_HR','avg-awards']].corr()

In [ ]:
all_star_hr = pd.concat([all_star_career, batting_career['lifetime_HR']], axis=1)
all_star_hr.dropna(inplace=True)
all_star_hr

In [ ]:
ax = sns.regplot(x='lifetime_HR', y='avg-all-star', data=all_star_hr, scatter_kws={'alpha':0.5})
plt.show()

In [ ]:
all_star_hr[['lifetime_HR','avg-all-star']].corr()

In [ ]:
salary_hr = pd.concat([salaries_career, batting_career['lifetime_HR']], axis=1)

salary_hr.dropna(inplace=True)

salary_hr

In [ ]:
ax = sns.regplot(x='lifetime_HR', y='avg-salary-adj', data=salary_hr, scatter_kws={'alpha':0.5})
plt.show()

In [ ]:
salary_hr[['lifetime_HR','avg-salary-adj']].corr()

In [ ]:
# test plot
# import seaborn as sns
# import matplotlib.pyplot as plt

# sns.set()
# cols = ['H','HR','RBI','GP','awarded']
# sns.pairplot(main_df[cols], size=2.5)
# plt.show()

# LOOK FOR CORRELATIONS - ADAPTABILITY SCORE

In [ ]:
players

In [ ]:
# create player position adaptability score
positions = ['G_p','G_c','G_1b','G_2b','G_3b','G_ss','G_lf','G_cf','G_rf']
players['adapt_score'] = 3 - round((players[positions].std(axis=1, ddof=1)/players[positions].mean(axis=1)),4)
players

In [ ]:
# remove any players who never made on-field appearances
players.dropna(subset=['adapt_score'], inplace=True)
players

In [ ]:
# check again for adaptabilty scores that were not computed
rows_count = len(players.index)
adapt_nan = players['adapt_score'].isnull().sum()
print("Rows in the table: %s" %rows_count)
print("Player position adaptability scores not computed: %s" %adapt_nan)

In [ ]:
# sns.set()
# cols = ['H','HR','RBI','GP','awarded', 'adapt_score','lifetime_ba']
# sns.pairplot(new_df[cols], size=2.5)
# plt.show()

# Plot Against Adaptability Score

In [ ]:
awards_as = pd.concat([awards_players_career, players['adapt_score']], axis=1)
awards_as.dropna(inplace=True)
awards_as

In [ ]:
# good, no NaN in adapt_score
import numpy as np
# np.sort(list(awards_as['adapt_score']))

In [ ]:
ax = sns.regplot(x='adapt_score', y='avg-awards', data=awards_as, scatter_kws={'alpha':0.5})

plt.show()

In [ ]:
awards_as[['adapt_score','avg-awards']].corr()

In [ ]:
all_star_as = pd.concat([all_star_career, players['adapt_score']], axis=1)

all_star_as.dropna(inplace=True)
all_star_as

In [ ]:
ax = sns.regplot(x='adapt_score', y='avg-all-star', data=all_star_as, scatter_kws={'alpha':0.5})

plt.show()

In [ ]:
all_star_as[['adapt_score','avg-all-star']].corr()

In [ ]:
salary_as = pd.concat([salaries_career, players['adapt_score']], axis=1)

salary_as.dropna(inplace=True)

salary_as

In [ ]:
ax = sns.regplot(x='adapt_score', y='avg-salary-adj', data=salary_as, scatter_kws={'alpha':0.5})

plt.show()

In [ ]:
salary_as[['adapt_score','avg-salary-adj']].corr()

In [ ]:
# remove anyone with less than 25 games
def more_x_games(row):
    sum_games = sum(row[4:13])
    return sum_games > 249

In [ ]:
# remove anyone with less than 25 games
players = not_pitchers[not_pitchers.apply(more_x_games, axis=1)]
players

In [ ]:
# calculate career homerun average
batting_career['lifetime_HR'] = round(batting_career['HR']/batting_career['AB'],4)

##### Batting-Post

In [ ]:
# load original post-season batting table
batting_post = load('BattingPost.csv')

# group by playerID and sum to find career post-season statistics for each player
batting_post_career = batting_post.groupby(batting_post.playerID).sum()

# drop yearID field
batting_post_career = batting_post_career.drop('yearID',axis=1)

# calculate lifetime batting average
batting_post_career['lifetime_post_BA'] = round((batting_post_career['H']/batting_post_career['AB']),4)

# remove players who never batted (NaN)
batting_post_career.dropna(subset=['lifetime_post_BA'], inplace=True)

# remove players with fewer than 25 At-Bats
batting_post_career = batting_post_career[batting_post_career['AB'] > 25]

# fill NaN fields with 0 WHY need this?
# batting_post_career.fillna(value=0, inplace=True)

# remove anyone from dataframe who is a pitcher or has played less than 25 games
batting_post_career = batting_post_career[batting_post_career.index.map(remove_from_df)]

batting_post_career