# OpenStreetMap - A Data Cleaning Case Study

# Cleaning [OpenStreetMap](http://www.openstreetmap.org/) Data

If you're wondering what OpenStreetMap is, think of it as Wikipedia but for meta-data-filled maps of the world. I would argue that it's one of the most important technologies you've probably never heard of. From the [OpenStreetMap Wiki](https://wiki.openstreetmap.org/wiki/Main_Page):

> "Welcome to OpenStreetMap, the project that creates and distributes free geographic data for the world. We started it because most maps you think of as free actually have legal or technical restrictions on their use, holding back people from using them in creative, productive, or unexpected ways."

If you're like me and you're refining your XML parsing/Python scripting/SQL querying skills, why not use said skills to clean some OpenStreetMap data? I'm going to be as detailed as possible below so anyone interested can follow along as an exercise.

According to [The New York Times' 'What Could Disappear'](http://www.nytimes.com/interactive/2012/11/24/opinion/sunday/what-could-disappear.html?_r=2&) interactive article, New Orleans could be 88% below sea level in as little as 100 years. I'm personally interested to see what we're set to lose as a consequence of global warming so I'll focus on approximately 100x150 mile area [surrounding New Orleans](https://mapzen.com/data/metro-extracts/metro/new-orleans_louisiana/).

___

### Getting to know the data:
OpenStreetMap data is available as XML bearing the file type '.osm'. Reading through the [documentation](https://wiki.openstreetmap.org/wiki/Main_Page), the gist of the main components of a osm file is:
* a **'node'** element essentially represents a latitude/longitude coordinate. It may have 'tag' child elements with other data points comprising things like an 'address ' or features such as 'school'.
* a **'way'** element has nodes as children(with their element type shortened to 'nd'). It defines things like roads, buildings, natural areas, etc. Also may have 'tag' children for the same purpose as a node.
* a **'relation'** has nested 'member' elements which reference existing ways and nodes. It defines relationships among the other elements such as an extended hiking trail made up by a number of way elements.

The osm file unzips to a whopping 1.28gb and crashes both Atom and SublimeText on my machine. [VIM](http://www.vim.org/), on the other hand, is a text editor designed to be used in a bare-bones command line interface (like the Terminal app on a mac) that can easily handle the job, allowing me to jump around and explore freely. Some VIM commands that let me do this are:
* Jump to bottom: `shift+g`
* Jump to top: `gg`
* page down: `Control+d`
* page up: `Control+u`
* Jump five million lines down: type `5000000` and then hit `j`
* Jump five million lines up: type `5000000` and then hit `k`
* Search the entire massive file for anything you want: type `/` followed by your search
* Go to the next instance of what you searched for: `n`
    
*Check out [this little gem](https://vim-adventures.com/) to get started with VIM in a fun way.*

Here is what I learned from exploring the file:
* the file has the standard opening:  <?xml version='1.0' encoding='UTF-8'?>
* the XML root element is 'osm' and is parent to all other elements
* there are 16,082,009 lines in total - wow!
* an example of a node element with no tags:

![node](supporting_files/screenshots/node.png "node")

* a node element with tags:

![node with tags](supporting_files/screenshots/node_tags.png "node with tags")

* a way element with its nested nd (node) element references and tags:

![way](supporting_files/screenshots/way.png "way")

* a relation element with its nested nodes, ways and tags:

![relation](supporting_files/screenshots/relation.png "relation")

### Reflecting upon the data - what should I clean?:
'tag' elements seem to constitute the bulk of a 'way' or 'relation' element's meta-data. From what I understand about OpenStreetMap, this should also be where a lot of user-generated/added content is stored. I'm sure there will be cleaning to do there. One other thing catches my eye - the large number of 'tag' elements who's 'k' attribute contains the acronym 'NHD'. What is that about?

It turns out NHD is an acronym for the US Geological Survey's ['National Hydrography Dataset'](https://nhd.usgs.gov/) which maps out and documents the nation's watershed boundaries and their features. New Orleans is surrounded by a massive amount of such natural features:


![new orleans watershed](supporting_files/screenshots/new_orleans_watershet.png "new orleans watershed")


I would assume the data to be damn near perfect given it was most likely adopted directly from the NHD. The wonderful thing here is that, without much trouble, I can programmatically verify whether or not that is true despite the over 16 million lines of data to deal with. This could be another opportunity for data cleaning.

Here we go!!!

### Auditing the data:
Looking again at the sample 'way' and 'relation' elements from the 'Getting to know the data' section, it's clear that data from the NHD is prefixed by 'NHD', which is followed by a colon and what appears to be the field name for each data point (ex. 'ComID', 'FCode' and 'FTYPE'). 'FTYPE' appears to define what kind of natural feature we have - in the case of our examples a stream/river or a swamp/marsh. I want to find all of these natural features as documented by the NHD and present in OpenStreetMap. To do this I can simply find any 'node', 'way' or 'relation' element that has a child 'tag' element with a 'k' attribute of 'NHD:FTYPE'. Finding each of these elements and throwing their 'k' atrributes into a list gives me an idea of what exists here:

In [7]:
import xml.etree.ElementTree as ET

OSM_FILE = "/Users/mchana/GitHub/udacity/large_files/new-orleans_region.osm"

def count_elem(osm_file):
    tag_set = set() 
    
    context = ET.iterparse(osm_file, events=('start', 'end'))
    _, root = next(context)
    
    for event, elem in context:
        if event == 'end' and (elem.tag == 'node' or elem.tag == 'way' or elem.tag == 'relation'):
            for tag_elem in elem.iter("tag"):
                if tag_elem.attrib['k'] == 'NHD:FTYPE':
                    for tag_elem in elem.iter("tag"):
                        tag_set.add(tag_elem.attrib['k'])
        root.clear()
    return tag_set

keys_list = list(count_elem(OSM_FILE))
print(keys_list)

['ele', 'landuse', 'water', 'layer', 'leisure', 'note', 'NHD:RESOLUTION', 'NHD:Resolution', 'NHD:Elevation', 'wetland', 'gnis:county_id', 'NHD:ComID', 'NHD:FDate', 'NHD:way_id', 'gnis:created', 'man_made', 'source', 'NHD:FTYPE', 'boundary', 'type', 'admin_level', 'natural', 'NHD:FCode', 'NHD:GNIS_Name', 'name', 'created_by', 'attribution', 'NHD:ReachCode', 'gnis:feature_id', 'NHD:Permanent_', 'import_uuid', 'place', 'history', 'waterway', 'NHD:FType', 'NHD:GNIS_ID', 'gnis:state_id']

Hard to tell visually - sort it:

In [8]:
sorted(keys_list)

['NHD:ComID',
 'NHD:Elevation',
 'NHD:FCode',
 'NHD:FDate',
 'NHD:FTYPE',
 'NHD:FType',
 'NHD:GNIS_ID',
 'NHD:GNIS_Name',
 'NHD:Permanent_',
 'NHD:RESOLUTION',
 'NHD:ReachCode',
 'NHD:Resolution',
 'NHD:way_id',
 'admin_level',
 'attribution',
 'boundary',
 'created_by',
 'ele',
 'gnis:county_id',
 'gnis:created',
 'gnis:feature_id',
 'gnis:state_id',
 'history',
 'import_uuid',
 'landuse',
 'layer',
 'leisure',
 'man_made',
 'name',
 'natural',
 'note',
 'place',
 'source',
 'type',
 'water',
 'waterway',
 'wetland']

Some of the k values like 'golf' seem pretty arbitrary, but they may have a purpose. Others, like NHD:FCode seem redundant with FCode. Maybe US Geological society changed their naming convention at one point. There may be something to clean here... I also see a 'fixme' key which may be something. Worth noting for now, but what will really help is to create a dictionary of the features and their attribute contents.

Some notes:
* FCODE is used at just once - uses '46600' as its contents. Jumping down to NHD:FCode I see more contents and again, the '46600'. I'm betting FCODE and NHD:FCode are the same. Looking at the NHD poster I find that 46600 is for "Swamp/Marsh". The different keys here are definitely trying to achieve the same thing. They can be merged. Also, I'm not worried about a key having multiple FCode - for example 33600;46600 is a Canal/Ditch, but it's also a Swamp/Marsh. 
* Next redundant tag key is FDATE. 'FDATE' has 'Mon May 23 00:00:00 CEST 2011'as its contents. Looks like a time stamp - checking. I'll check to make sure other elements with the FDATE tag elem have a different timestamp. I could do this, but there's a better - faster way (all I need to do is see a few others to verify it's a time stamp. Vim - /search_key for 'FDATE". Sure enough, found on line 13,356,160. Vim - n finds no other instances! What about NHD:Fdate? Yes, all kinds of others, but their dates ar emore simple - for example, "2005/12/05". Fair enough to say that the rogue element's date can be changed to 2011/05/23. 
* Now thinking, there only seems to be a single rogue elem. Inspect it to make sure it's not wildly different. Nothing stands out - /search for the user Aleks-Berlin. He also seems to have edited a few others - some tags called "FIXME", which seem a little haphazard. I'm wondering who this person is and if entering data haphazardly. Check element on map: /search for one of the nodes, then enter lat/lon coordinates on map: 29.3557244, -90.0538116. Looks like a valid natural feature, so the way elem should stay in place. 
* Next, FTYPE. 466 corresponds to Feature Type from pdf. 
* 'natural' all good
* 'PERMANENT_ is redundant. Has strange value: &#123;A0AFF249-A7D2-44F4-AD8A-0A4A68F99450&#125;
    * Search for NHD:Permanent_. They all have much simpler values like "151098380". What is it? On PDF there is a 'Permanent_Identifier' feature that is a 40 character string, but all the ones I find are 9 characters. Not enough info here - so leaving this one alone. Somehow can flag this elem? Not sure what this is so leaving alone.
*RESOLUTION is '2'. From NHD documentation, this should be set to "High" (Code of source resolution: 1=Local resolution, 2=High resolution, 3=Medium Resolution.)
* SHAPE_AREA and SHAPE_LENG exist in PDF guide as 'Shape_Area' and 'Shape_Length' but have no guidelines and are not used in any other elements in the XML file. Again, wondering if best to just remove this element!

    
Now onto auditing some some of the other keys. For this it's best to build the dictionary and see what kind of information they hold:

In [ ]:
import xml.etree.ElementTree as ET
import collections as col
import pprint

OSM_FILE = "/Users/mchana/GitHub/udacity/large_files/new-orleans_region.osm"

def make_elem_dict(osm_file):
    
    elem_dict = col.defaultdict(set)
    
    context = ET.iterparse(osm_file, events=('start', 'end'))
    _, root = next(context)
    
    # opportunity for 'continue' here...
    # also, pull out - make function to find correct element
    for event, elem in context:
        if event == 'end' and (elem.tag == 'node' or elem.tag == 'way' or elem.tag == 'relation'):
            for tag in elem.iter("tag"):
                if tag.attrib['k'] == 'natural':
                    # am overwriting tag here from prev. loop - call something else
                    for tag in elem.iter("tag"):
                        elem_dict[tag.attrib['k']].add(tag.attrib['v'])
        root.clear()
    return elem_dict

pprint.pprint(make_elem_dict(OSM_FILE))

Some notes on checking the other fields starting at the end:
* 'wikipedia' - not going to touch, connects an elem to wikipedi article
* wikidata - Connects to wikimedia commons. Googling 'wikidata and one of the values from the dict gives' a link to an [article](https://commons.wikimedia.org/wiki/File:Bayou_St_John_by_Spanish_Fort_2009.jpg) - not touching this
* Scanning through others doesn't seem to throw any flags (trying to keep scope of investigation more targeted) However:
* will fix capitalization in 'water' tag
* in source - change any 'bing' to 'Bing', 'landsat' to 'LandSat'
* Look at all 'note'. There are many non-'nature' elems with notes as well, so I'll have to write a script to pull all 'nature' elems that also have a 'note' tag elem:

In [ ]:
import xml.etree.ElementTree as ET

OSM_FILE = "/Users/mchana/GitHub/udacity/large_files/new-orleans_region.osm"

def find_note_tag(osm_file):
    context = ET.iterparse(osm_file, events=('start', 'end'))
    _, root = next(context)
    
    for event, elem in context:
        if event == 'end' and (elem.tag == 'node' or elem.tag == 'way' or elem.tag == 'relation'):
            for tag_elem in elem.iter("tag"):
                if tag_elem.attrib['k'] == 'natural':
                    for tag_elem in elem.iter("tag"):
                        if tag_elem.attrib['k'] == 'note':
                            print(ET.dump(elem))
        root.clear()
find_note_tag(OSM_FILE)

What I'm learing: (add PDF descriptions for each field when introducing them)
* The comment: ""I have altered the natural:coatline tag as this way duplicates existing coastline ways"" tells me that I shouldn't mess with either of the 'coastline' or '_coastline' keys as it's purposful. Other notes don't indicate any other action needed.

Back to dict:
* 'name' - fix capitalization on lower case words There are enough that I can see they all need it. 'xxx' seems like an error but not going to change it...
    * discard 'yes' in node 4506654389
* 'fixme' - not touching. Seems like a way for people to know what needs to be changed due to construction, etc. ("Needs survey", "tempoary way, whilst coastline is sorted out", etc.) Still, slightly problematic as just states "temporary fix" for some. Not doing anything with this.
* NHD:ReachCode - ("Unique identifier composed of two parts, first eight digits = subbasin code as defined by FIPS 103, and next six digits = random-assigned sequential number unique within a Cataloguing Unit."
    * issues that I see but can't fix:
           * Is supposed to be a unique identifier but some have more than one. Manually inspecting one such element doesn't reveal why, but noticed also has a duplicate NHD:ComID. (WayID: 43393226)

* NHD:FDate has one or more instances with two dates. Nothing I can do though.
* NHD:FCode , ok to have more than one.
    * NDH:ComID, has more than one id for some, but more imporantly PDF indicates "ComID field deleted from all feature classes/tables" in the Model Changes section. Should this data still be here? This is the most updated model documentation from August 2016. Waiting on email sent to NHD...

### Build basic parser/CSV compiler:

See data.py in folder

### Confirm basic parser/CSV compiler working properly:

In [ ]:
# open each CSV and check manually - VIM search in large OSM and check
    # √nodes_tag.csv
    # √nodes.csv
    # √relation_members.csv
    # √relations_tags.csv
    # √relations.csv
    # √ways_nodes.csv
    # √ways_tags.csv
    # √ways.csv

### Write cleaning scripts - insert into data.py:

In [ ]:
#√ Fix wayID 321535489
    # No need to fix - it's inefficient to parse every line to clean a single element.
        # better approach to do manually with access to the actual database
#√ All NHD:FTYPE should be NDF:FType to conform to NHD data model - same with RESOLUTION should be Resolution
#√ Fix capitalization in tag elems with 'water' key
#√ Change 'bing' to 'Bing' and 'landsat' to 'Landsat' in tag elems with 'source' key
    # maybe regex compare based on capitalization - then fix to first letter capitalized?
#√ Fix tags with 'name' elem (fapitalization of firsr letter of each word)
#not doing: discard node tag elem 4506654389

### Update schema - implement schema validation:

In [ ]:
#√ descipher schema file and validation functionality
    #√ validator class object is created
    #√ dict and validator class object fed into validate_element()
        # validates and throws error (stops execution) if validation not True
        # else, execution continues and all items written to the csv
#√ update schema doc and run/verify

### Perform statistical analysis using database queries

##### Port CSV files into database:

In [1]:
import sqlite3
import csv
from pprint import pprint
from supporting_files import data_wrangling_schema as dws

sqlite_file = 'supporting_files/exports_databases/osm_db.db'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [2]:
sql_schema = dws.sql_schema

In [3]:
# Create the table, specifying the schema
c.executescript(sql_schema)
# commit the changes
conn.commit()

In [4]:
# first row of CSVs MUST be fieldnames
import os
from csv import DictReader

def add_table_from_csv(filename):
    if not filename.endswith('.csv'):
        return
    
    tablename = filename.split(".")[0].split('/')[-1]
    with open(filename, 'r') as fin:
        dr = DictReader(fin)
        fieldnames = dr.fieldnames
        to_db = [tuple( [i[k] for k in dr.fieldnames] ) for i in dr]
    c.executemany("INSERT INTO {}({}) VALUES({}?);".format(
            tablename, ",".join(dr.fieldnames), "?," * (len(dr.fieldnames)-1)), to_db)
    conn.commit()
    
def add_to_db(directory):
    for f_name in os.listdir(directory):
        full_path = os.path.join(directory, f_name)
        add_table_from_csv(full_path)

add_to_db('supporting_files/exports')

In [5]:
c.execute('SELECT * FROM nodes')
all_rows = c.fetchall()
print('1):')
pprint(all_rows)

1):
[(358366452,
  30.3979277,
  -90.5765609,
  'wvdp',
  436419,
  2,
  21098612,
  '2014-03-14T12:41:10Z'),
 (358372166,
  29.6627131,
  -90.2675782,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T12:58:40Z'),
 (358377272,
  30.3826938,
  -90.5659234,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T13:07:02Z'),
 (358394403,
  29.9274242,
  -89.3108775,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T13:39:32Z'),
 (358394528,
  29.8885374,
  -89.5342203,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T13:39:54Z'),
 (358394976,
  30.1854738,
  -89.7522833,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T13:41:13Z'),
 (358395580,
  29.8774267,
  -89.5945001,
  'iandees',
  4732,
  1,
  777367,
  '2009-03-10T13:42:33Z'),
 (368385864,
  30.3485276,
  -89.5447775,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:44Z'),
 (368385866,
  30.417971,
  -89.5870026,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:44Z'),
 (368385896,
  30.280752,
  -89.4031042,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:44Z'),
 (368385902,
  30.4354709,
  -89.5197779,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:44Z'),
 (368385904,
  30.3609645,
  -89.2814644,
  'ELadner',
  22925,
  2,
  11865512,
  '2012-06-11T15:08:35Z'),
 (368385927,
  30.2729735,
  -89.5008857,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:44Z'),
 (368385934,
  30.2604745,
  -89.4106042,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:43Z'),
 (368385962,
  30.3715845,
  -89.3081019,
  'amillar',
  28145,
  1,
  54115,
  '2009-04-02T05:30:22Z'),
 (368386121,
  30.394082,
  -89.6767281,
  'amillar',
  28145,
  1,
  54115,
  '2009-04-02T05:31:29Z'),
 (368386166,
  30.3510292,
  -89.3169907,
  'amillar',
  28145,
  1,
  54115,
  '2009-04-02T05:31:48Z'),
 (368386206,
  30.1846422,
  -89.4756061,
  'amillar',
  28145,
  1,
  54115,
  '2009-04-02T05:32:04Z'),
 (368386207,
  30.0279785,
  -89.6175546,
  'amillar',
  28145,
  2,
  216723,
  '2009-04-05T17:58:52Z'),
 (369011298,
  29.3232743,
  -89.3383863,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:21Z'),
 (369011308,
  29.4377167,
  -89.5547814,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:21Z'),
 (369011310,
  29.380499,
  -89.8089573,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:22Z'),
 (369011336,
  29.5507699,
  -89.6550621,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:26Z'),
 (369011341,
  29.4199395,
  -89.5503369,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:26Z'),
 (369011346,
  29.2205005,
  -89.3161637,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:27Z'),
 (369011350,
  29.4785489,
  -89.5828379,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:27Z'),
 (369011356,
  29.8821509,
  -90.6142545,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:19:12Z'),
 (369011362,
  29.3566124,
  -89.9975722,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:29Z'),
 (369011371,
  29.1713348,
  -89.1533814,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:30Z'),
 (369011375,
  29.3088332,
  -89.6503414,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:30Z'),
 (369011385,
  29.5810474,
  -89.7106191,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:32Z'),
 (369011393,
  29.3810554,
  -90.5317528,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:19:26Z'),
 (369011399,
  29.4246614,
  -89.5414476,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:33Z'),
 (369011409,
  29.454941,
  -89.847291,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:34Z'),
 (369011422,
  29.3171638,
  -89.3997768,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:36Z'),
 (369011427,
  29.220783,
  -90.6236991,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:19:56Z'),
 (369011430,
  29.3099451,
  -89.738123,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:37Z'),
 (369011435,
  29.3393873,
  -89.6095061,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:38Z'),
 (369011438,
  29.3282658,
  -89.8377565,
  'wvdp',
  436419,
  2,
  29121554,
  '2015-02-26T19:43:09Z'),
 (369011441,
  29.2716156,
  -90.0889634,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:19:37Z'),
 (369011446,
  29.3107798,
  -89.87007,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:40Z'),
 (369011449,
  29.2399455,
  -89.5067238,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:41Z'),
 (369011453,
  29.2807776,
  -89.5456147,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:41Z'),
 (369011459,
  29.4499413,
  -89.8831252,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:42Z'),
 (369011478,
  30.1401974,
  -89.7020031,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:44Z'),
 (369011485,
  29.2585605,
  -90.0970191,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:20:29Z'),
 (369011488,
  29.3280008,
  -89.8106244,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:46Z'),
 (369011492,
  29.6171568,
  -89.6633949,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:46Z'),
 (369011495,
  29.3171676,
  -89.7872907,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:47Z'),
 (369011500,
  29.0930083,
  -90.2086892,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:20:42Z'),
 (369011508,
  29.3105022,
  -89.8936815,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:49Z'),
 (369011516,
  29.21245,
  -90.6011989,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:20:51Z'),
 (369011527,
  29.3399452,
  -89.8531251,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:51Z'),
 (369011538,
  29.6363229,
  -89.6570055,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:57:52Z'),
 (369011550,
  29.2874484,
  -90.0614627,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:21:06Z'),
 (369011592,
  29.2116166,
  -90.641755,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:21:29Z'),
 (369011608,
  29.243556,
  -89.467834,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:00Z'),
 (369011618,
  29.5257701,
  -89.6158943,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:01Z'),
 (369011643,
  29.4216062,
  -89.5578371,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:03Z'),
 (369011648,
  29.2835527,
  -89.2181058,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:04Z'),
 (369011668,
  29.2732753,
  -89.1586595,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:06Z'),
 (369011678,
  29.2668868,
  -89.2108834,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:08Z'),
 (369011685,
  29.2721642,
  -89.1894938,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:09Z'),
 (369011692,
  29.2854979,
  -89.3386644,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:10Z'),
 (369011746,
  29.2902189,
  -89.148659,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:15Z'),
 (369011819,
  29.6227111,
  -89.5736698,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:21Z'),
 (369011838,
  29.2157778,
  -89.2200504,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:23Z'),
 (369011844,
  29.4060543,
  -90.5581421,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:12:03Z'),
 (369011852,
  29.3629992,
  -89.7606232,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:24Z'),
 (369011862,
  29.1243942,
  -89.3414405,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:25Z'),
 (369011888,
  30.5085241,
  -90.6120368,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:18Z'),
 (369011894,
  29.3466127,
  -89.985072,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:27Z'),
 (369011931,
  29.216333,
  -89.1344921,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:29Z'),
 (369012007,
  29.1799458,
  -89.2297727,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:34Z'),
 (369012018,
  29.24161,
  -89.1764381,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:34Z'),
 (369012027,
  29.1782808,
  -89.3592194,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:35Z'),
 (369012040,
  29.1960559,
  -89.1189361,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:36Z'),
 (369012062,
  29.3957738,
  -89.5572816,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:37Z'),
 (369012084,
  29.2268882,
  -89.1244919,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:39Z'),
 (369012091,
  29.2321657,
  -89.1481039,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:40Z'),
 (369012097,
  29.4841037,
  -89.5292249,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:40Z'),
 (369012177,
  29.3488339,
  -89.8772921,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:47Z'),
 (369012183,
  29.3449403,
  -89.364498,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:47Z'),
 (369012199,
  29.2418878,
  -89.1875495,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:49Z'),
 (369012205,
  29.2491157,
  -90.3036913,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:14:51Z'),
 (369012211,
  29.2124445,
  -89.2314396,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:50Z'),
 (369012221,
  29.0468968,
  -89.2903281,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:52Z'),
 (369012227,
  29.3002251,
  -90.3361922,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:01:41Z'),
 (369012230,
  29.2779974,
  -89.1908827,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:58:56Z'),
 (369012243,
  29.2938325,
  -89.5395032,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:01Z'),
 (369012246,
  29.2524428,
  -89.1808827,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:02Z'),
 (369012248,
  29.480216,
  -89.6195059,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:03Z'),
 (369012249,
  29.5541026,
  -89.6192275,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:03Z'),
 (369012250,
  29.3688341,
  -90.0200728,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:01:33Z'),
 (369012251,
  29.4074396,
  -89.5261692,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:05Z'),
 (369012258,
  29.1485622,
  -90.2623017,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:02:00Z'),
 (369012268,
  29.2716087,
  -89.1831048,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:09Z'),
 (369012279,
  29.0949506,
  -89.3114398,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:10Z'),
 (369012306,
  29.2371655,
  -89.1364368,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:12Z'),
 (369012320,
  29.2085557,
  -89.1853271,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:13Z'),
 (369012326,
  29.2049447,
  -89.1975496,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:13Z'),
 (369012340,
  29.2955031,
  -90.3523038,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:01:18Z'),
 (369012344,
  29.23911,
  -89.1531041,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:15Z'),
 (369012349,
  29.234388,
  -89.163382,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:15Z'),
 (369012359,
  29.3052254,
  -90.0939635,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:03:07Z'),
 (369012366,
  29.2110555,
  -89.1714378,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:17Z'),
 (369012371,
  29.324388,
  -89.6253402,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:17Z'),
 (369012387,
  29.0646723,
  -89.1831039,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:20Z'),
 (369012395,
  29.2110555,
  -89.1561595,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:20Z'),
 (369012410,
  29.2279993,
  -89.1583819,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:21Z'),
 (369012427,
  29.2754975,
  -89.2017165,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:21Z'),
 (369012443,
  29.0013421,
  -89.2514388,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:21Z'),
 (369012469,
  29.2841146,
  -90.3906383,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:12Z'),
 (369012475,
  29.3366132,
  -89.9870164,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:25Z'),
 (369012478,
  29.3671617,
  -89.369498,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:26Z'),
 (369012483,
  29.3810503,
  -89.3964431,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:26Z'),
 (369012486,
  30.151586,
  -89.7061701,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:27Z'),
 (369012504,
  29.5910462,
  -89.6425612,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:30Z'),
 (369012507,
  29.0371729,
  -89.121713,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:30Z'),
 (369012510,
  29.2638313,
  -89.2136614,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:30Z'),
 (369012513,
  29.4574384,
  -89.5700597,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:31Z'),
 (369012516,
  29.1049482,
  -89.1264358,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:31Z'),
 (369012522,
  29.3402219,
  -89.7359003,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:32Z'),
 (369012528,
  29.1366141,
  -89.2003271,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:33Z'),
 (369012530,
  29.3460571,
  -90.0675739,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:17Z'),
 (369012538,
  29.2288383,
  -90.2456342,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:13Z'),
 (369012570,
  29.4088324,
  -90.0303508,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:03:28Z'),
 (369012578,
  29.6054912,
  -89.7083964,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:42Z'),
 (369012586,
  29.3696614,
  -89.3469974,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:43Z'),
 (369012589,
  29.5877139,
  -89.7072855,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:44Z'),
 (369012614,
  29.1427267,
  -89.3431075,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:47Z'),
 (369012618,
  29.3071642,
  -89.4075548,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:48Z'),
 (369012636,
  29.1968893,
  -89.134492,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:50Z'),
 (369012641,
  29.4449384,
  -89.531725,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:51Z'),
 (369012644,
  29.1724461,
  -89.2108831,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:51Z'),
 (369012655,
  29.2360547,
  -89.23894,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:53Z'),
 (369012663,
  29.1466157,
  -89.3650522,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:54Z'),
 (369012665,
  29.2516095,
  -89.1703268,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:54Z'),
 (369012670,
  29.2182775,
  -89.1519927,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:55Z'),
 (369012673,
  29.1943895,
  -89.1561594,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:57Z'),
 (369012674,
  29.2554982,
  -89.1292144,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T19:59:57Z'),
 (369012675,
  29.2718928,
  -90.330081,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:21Z'),
 (369012678,
  29.1999507,
  -90.4859195,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:23Z'),
 (369012685,
  29.1852282,
  -90.2900802,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:34Z'),
 (369012690,
  29.3813284,
  -89.4217216,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:00Z'),
 (369012694,
  29.1782792,
  -89.205883,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:02Z'),
 (369012696,
  29.2427269,
  -90.267857,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:39Z'),

 (369012699,
  29.2663311,
  -89.1786602,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:04Z'),
 (369012700,
  29.3993884,
  -90.0647961,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:44Z'),
 (369012704,
  29.5052152,
  -89.620617,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:06Z'),
 (369012705,
  29.2174452,
  -89.3294972,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:06Z'),
 (369012707,
  29.3377239,
  -90.443973,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:49Z'),
 (369012708,
  29.4146617,
  -89.5370029,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:08Z'),
 (369012712,
  29.1796679,
  -89.1969939,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:09Z'),
 (369012713,
  29.28967,
  -90.4373063,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:04:58Z'),
 (369012716,
  29.1874503,
  -90.2703573,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:05:04Z'),
 (369012717,
  29.2596647,
  -89.1511594,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:11Z'),
 (369012719,
  29.2327273,
  -90.3503595,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:05:02Z'),
 (369012721,
  29.2880034,
  -90.3711932,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:05:07Z'),
 (369012740,
  29.5593812,
  -89.6928411,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:14Z'),
 (369012751,
  29.1880011,
  -89.2344951,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:15Z'),
 (369012783,
  29.206889,
  -89.1400479,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:20Z'),
 (369012791,
  29.2263327,
  -89.1547706,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:22Z'),
 (369012794,
  29.1213365,
  -89.1194912,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:23Z'),
 (369012809,
  29.1052261,
  -89.1517143,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:25Z'),
 (369012817,
  29.2371657,
  -89.2147726,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:26Z'),
 (369012828,
  29.1677239,
  -89.1858823,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:28Z'),
 (369012832,
  29.1674461,
  -89.1767155,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:29Z'),
 (369012838,
  29.2263331,
  -89.2708851,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:31Z'),
 (369012855,
  29.0574503,
  -89.172548,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:35Z'),
 (369012859,
  29.334389,
  -89.7503455,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:36Z'),
 (369012863,
  29.3141138,
  -90.1195196,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:26:27Z'),
 (369012865,
  29.411884,
  -89.5322806,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:37Z'),
 (369012870,
  29.1663397,
  -90.2692463,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:24:54Z'),
 (369012872,
  29.2110608,
  -90.2561901,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:24:48Z'),
 (369012874,
  29.3935513,
  -89.533114,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:39Z'),
 (369012878,
  29.2682756,
  -89.2069944,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:40Z'),
 (369012880,
  29.2360546,
  -89.1906052,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:41Z'),
 (369012883,
  29.1255037,
  -89.2503285,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:41Z'),
 (369012885,
  29.0968954,
  -89.3311621,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:41Z'),
 (369012889,
  29.5671594,
  -89.7645099,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:42Z'),
 (369012895,
  29.1818899,
  -89.1275473,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:43Z'),
 (369012899,
  29.3638287,
  -89.3908875,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:44Z'),
 (369012903,
  29.2391162,
  -90.4259173,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:25:11Z'),
 (369012909,
  29.2316104,
  -89.197272,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:46Z'),
 (369012911,
  29.2396656,
  -89.2275508,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:47Z'),
 (369012950,
  29.229666,
  -89.2025499,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:49Z'),
 (369012961,
  29.1907785,
  -89.160604,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:50Z'),
 (369012975,
  29.1741127,
  -89.2186612,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:51Z'),
 (369012987,
  29.2491097,
  -89.2169949,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:52Z'),
 (369012998,
  29.4066069,
  -89.5731156,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:54Z'),
 (369013012,
  29.2513317,
  -89.1539374,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:55Z'),
 (369013022,
  29.2527207,
  -89.2269952,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:56Z'),
 (369013026,
  29.0671745,
  -89.3333839,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:57Z'),
 (369013039,
  29.2335568,
  -89.4917231,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:00:58Z'),
 (369013047,
  29.0713384,
  -89.12838,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:00Z'),
 (369013049,
  29.1382815,
  -89.2831068,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:01Z'),
 (369013059,
  29.2679978,
  -89.1942163,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:04Z'),
 (369013061,
  29.3621658,
  -89.7495118,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:04Z'),
 (369013065,
  29.2721643,
  -89.202272,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:05Z'),
 (369013071,
  29.2363382,
  -90.2942467,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:24:33Z'),
 (369013092,
  29.1974449,
  -89.1564372,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:08Z'),
 (369013102,
  29.1585629,
  -90.6459224,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:24:42Z'),
 (369013108,
  29.2518873,
  -89.1619932,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:10Z'),
 (369013115,
  29.2604982,
  -89.215606,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:10Z'),
 (369013153,
  29.2821638,
  -89.1981052,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:13Z'),
 (369013191,
  29.1618957,
  -90.3481378,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:23:27Z'),
 (369013211,
  29.290497,
  -89.2336617,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:18Z'),
 (369013215,
  29.2407768,
  -89.2214395,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:19Z'),
 (369013220,
  29.32244,
  -89.2147719,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:20Z'),
 (369013222,
  29.6818792,
  -90.33258,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:23:46Z'),
 (369013230,
  29.1474245,
  -90.3470961,
  'wvdp',
  436419,
  3,
  27510594,
  '2014-12-16T16:11:26Z'),
 (369013238,
  29.3735505,
  -89.3906097,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:24Z'),
 (369013240,
  29.2443876,
  -89.1636599,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:24Z'),
 (369013242,
  29.4379979,
  -90.0597959,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:23:31Z'),
 (369013246,
  29.1974448,
  -89.1378255,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:26Z'),
 (369013250,
  29.1616131,
  -89.2003272,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:27Z'),
 (369013253,
  29.2866096,
  -89.4169995,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:27Z'),
 (369013260,
  29.1330045,
  -89.3169958,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:28Z'),
 (369013273,
  29.5168813,
  -89.602005,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:29Z'),
 (369013313,
  29.3288358,
  -90.0059057,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:22:08Z'),
 (369013318,
  29.0452322,
  -89.3778281,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:36Z'),
 (369013328,
  29.0557841,
  -89.2147714,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:37Z'),
 (369013350,
  29.1007821,
  -89.1889376,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:40Z'),
 (369013360,
  29.2393878,
  -89.1689379,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:41Z'),
 (369013501,
  29.3335536,
  -89.555615,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:01:56Z'),
 (369013531,
  29.2163333,
  -89.240051,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:01Z'),
 (369013535,
  29.1924452,
  -89.2050498,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:02Z'),
 (369013541,
  29.1730031,
  -89.3458857,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:02Z'),
 (369013544,
  29.1741142,
  -89.3533858,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:02Z'),
 (369013546,
  29.2055004,
  -89.2167169,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:03Z'),
 (369013549,
  29.1988339,
  -89.2153279,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:03Z'),
 (369013551,
  29.2343881,
  -89.221995,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:04Z'),
 (369013554,
  29.1682797,
  -89.2294948,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:04Z'),
 (369013556,
  29.2257774,
  -89.2189393,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:05Z'),
 (369013560,
  29.1871677,
  -89.2083832,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:05Z'),
 (369013562,
  29.2321658,
  -89.1786603,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:06Z'),
 (369013564,
  29.2246663,
  -89.233662,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:06Z'),
 (369013567,
  29.1996672,
  -89.2208836,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:07Z'),
 (369013569,
  29.1874454,
  -89.1833824,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:07Z'),
 (369013573,
  29.1932787,
  -89.221717,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:08Z'),
 (369013579,
  29.1907797,
  -89.3194967,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:09Z'),
 (369013596,
  29.139949,
  -89.3414407,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:10Z'),
 (369013602,
  29.1957786,
  -89.229495,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:02:11Z'),
 (369013898,
  30.2871402,
  -90.6000902,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:18Z'),
 (369013925,
  30.328528,
  -90.6364804,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:19Z'),
 (369013937,
  29.2535609,
  -90.0572959,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:13:53Z'),
 (369013945,
  29.2010558,
  -89.1575484,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:08Z'),
 (369013961,
  29.6577132,
  -90.2928568,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:12:27Z'),
 (369013968,
  29.2018893,
  -89.1739378,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:10Z'),
 (369013977,
  29.1743903,
  -89.1706042,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:12Z'),
 (369013980,
  29.218833,
  -89.180327,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:13Z'),
 (369014040,
  29.9146498,
  -90.1584078,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:16Z'),
 (369014063,
  29.2946701,
  -90.117853,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:12:01Z'),
 (369014065,
  29.0941174,
  -89.313662,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:31Z'),
 (369014067,
  29.0830071,
  -89.3311619,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:32Z'),
 (369014069,
  29.0988399,
  -89.3444956,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:32Z'),
 (369014071,
  29.2882819,
  -90.0364621,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:11:47Z'),
 (369014073,
  29.2932818,
  -89.9981278,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:33Z'),
 (369014075,
  29.3741112,
  -89.9381266,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:34Z'),
 (369014077,
  29.3185582,
  -90.0747963,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:11:44Z'),
 (369014082,
  29.2791156,
  -89.9856276,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:36Z'),
 (369014090,
  29.384389,
  -90.0070168,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:09:55Z'),
 (369014109,
  29.9779818,
  -90.564531,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:09:31Z'),
 (369014113,
  29.8415969,
  -90.474806,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:10:47Z'),
 (369014132,
  29.993257,
  -89.3656006,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:43Z'),
 (369014140,
  29.9718708,
  -90.5678644,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:10:12Z'),
 (369014144,
  29.8807624,
  -90.5270297,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:08:54Z'),
 (369014157,
  29.9438158,
  -90.6242549,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:09:13Z'),
 (369014173,
  30.0513105,
  -89.7125584,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:46Z'),
 (369014218,
  29.3355018,
  -90.507308,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:06:39Z'),
 (369014229,
  29.2221662,
  -89.1664377,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:55Z'),
 (369014230,
  29.4010513,
  -89.5631152,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:56Z'),
 (369014234,
  29.2721665,
  -89.5311696,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:03:57Z'),
 (369014236,
  29.1413413,
  -90.5625881,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:06:21Z'),
 (369014290,
  30.054089,
  -89.2575411,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:04Z'),
 (369014296,
  30.0513115,
  -89.3414332,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:05Z'),
 (369014302,
  30.02159,
  -89.388657,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:05Z'),
 (369014308,
  29.6704873,
  -89.5653358,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:06Z'),
 (369014310,
  30.1726976,
  -89.5586647,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:07Z'),
 (369014314,
  30.1074219,
  -89.2361517,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:08Z'),
 (369014322,
  29.9204804,
  -89.3700467,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:10Z'),
 (369014324,
  29.736596,
  -89.5347788,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:10Z'),
 (369014327,
  29.6996521,
  -89.497278,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:11Z'),
 (369014333,
  29.7740939,
  -89.4033843,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:13Z'),
 (369014335,
  29.8104815,
  -89.3011572,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:13Z'),
 (369014339,
  29.8660406,
  -90.4767506,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:17Z'),
 (369014351,
  30.0415895,
  -89.3611561,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:15Z'),
 (369014355,
  29.7604821,
  -89.2831019,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:16Z'),
 (369014371,
  30.0168671,
  -89.2542075,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:18Z'),
 (369014390,
  30.0604779,
  -89.2203176,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:20Z'),
 (369014399,
  29.6757635,
  -89.4431094,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:21Z'),
 (369014427,
  29.8932621,
  -90.4823063,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:17Z'),
 (369014489,
  29.9160392,
  -90.4861953,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:17Z'),
 (369014504,
  30.0579781,
  -89.1930944,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:32Z'),
 (369014513,
  29.9052062,
  -90.4973067,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:17Z'),
 (369014527,
  30.4801923,
  -90.2386932,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:18Z'),
 (369014536,
  30.0421453,
  -89.4317144,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:35Z'),
 (369014543,
  30.5026918,
  -89.8811818,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:42Z'),
 (369014552,
  29.9754801,
  -89.4553266,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:37Z'),
 (369014560,
  30.0285337,
  -89.2217064,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:37Z'),
 (369014570,
  29.5007664,
  -89.2506046,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:39Z'),
 (369014577,
  29.9799235,
  -89.3114321,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:40Z'),
 (369014594,
  30.0507559,
  -89.2928203,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:41Z'),
 (369014601,
  29.8871511,
  -90.4642502,
  '1248',
  170672,
  3,
  3916547,
  '2010-02-19T15:59:16Z'),
 (369014610,
  29.9852009,
  -89.2658747,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:43Z'),
 (369014616,
  29.9593713,
  -90.5417526,
  'amillar',
  28145,
  2,
  150679,
  '2009-04-03T22:02:56Z'),
 (369014625,
  29.6888201,
  -89.5675579,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:44Z'),
 (369014635,
  29.6610421,
  -89.4925558,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:45Z'),
 (369014652,
  29.7668716,
  -89.3731055,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:46Z'),
 (369014661,
  30.0077016,
  -89.4283806,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:47Z'),
 (369014674,
  29.9329796,
  -89.2947657,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:48Z'),
 (369014686,
  29.8554817,
  -89.4169943,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:04:48Z'),
 (369014705,
  30.2140844,
  -89.7245047,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:42Z'),
 (369014715,
  30.4999141,
  -89.9422948,
  '1248',
  170672,
  2,
  3916547,
  '2010-02-19T16:02:42Z'),
 (369015039,
  29.9415903,
  -89.2286519,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:23Z'),
 (369015045,
  29.9757566,
  -89.2236511,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:23Z'),
 (369015057,
  29.9043688,
  -89.2736543,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:24Z'),
 (369015071,
  29.9549234,
  -89.2350408,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:24Z'),
 (369015083,
  29.9410347,
  -89.2525417,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:24Z'),
 (369015096,
  29.984923,
  -89.2372626,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:25Z'),
 (369015145,
  30.1479765,
  -89.4353264,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:28Z'),
 (369015156,
  30.1382545,
  -89.4442156,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:29Z'),
 (369015162,
  29.2429988,
  -89.1922719,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:30Z'),
 (369015167,
  29.1816122,
  -89.1700486,
  'amillar',
  28145,
  1,
  95394,
  '2009-04-02T20:05:30Z'),
 (558006771,
  29.2944055,
  -90.0231216,
  'wvdp',
  436419,
  3,
  28100627,
  '2015-01-12T23:49:05Z'),
 (1375274186,
  29.9456695,
  -90.0776208,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:18Z'),
 (1375274191,
  29.9458311,
  -90.0780496,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:18Z'),
 (1375274198,
  29.9459204,
  -90.0780559,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274201,
  29.9459349,
  -90.0779385,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274203,
  29.9459367,
  -90.0780098,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274213,
  29.9460838,
  -90.0778392,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274216,

  29.9460956,
  -90.0778844,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274218,
  29.9461199,
  -90.0779494,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274220,
  29.9461272,
  -90.0778131,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274224,
  29.946156,
  -90.0779096,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:19Z'),
 (1375274225,
  29.9461651,
  -90.0774177,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:20Z'),
 (1375274227,
  29.9461651,
  -90.0780243,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:20Z'),
 (1375274229,
  29.9462102,
  -90.0779214,
  'Matt Toups',
  41187,
  1,
  8840207,
  '2011-07-26T21:21:20Z'),
 (3301246063,
  29.2535917,
  -90.1904187,
  'wvdp',
  436419,
  1,
  28292689,
  '2015-01-20T20:01:31Z'),
 (3378142470,
  30.2932822,
  -89.8259963,
  'Scott Lincoln',
  101788,
  2,
  29188449,
  '2015-03-01T23:27:16Z'),
 (4064549580,
  30.3353918,
  -90.0441008,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549581,
  30.3354519,
  -90.0441249,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549582,
  30.3353663,
  -90.0441799,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549583,
  30.3354265,
  -90.0442067,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549584,
  30.3353813,
  -90.0443274,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549585,
  30.3353211,
  -90.0443019,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549586,
  30.3353524,
  -90.0444106,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549587,
  30.3352945,
  -90.044377,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549588,
  30.3353293,
  -90.044487,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549689,
  30.3352667,
  -90.0444588,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:48Z'),
 (4064549690,
  30.335298,
  -90.0445728,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549691,
  30.3352401,
  -90.0445433,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549692,
  30.3352042,
  -90.0446439,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549693,
  30.3352679,
  -90.0446654,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549694,
  30.3351776,
  -90.044715,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549695,
  30.3352424,
  -90.0447405,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549696,
  30.3352112,
  -90.0448276,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549697,
  30.335151,
  -90.0447995,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549698,
  30.3351753,
  -90.0449269,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549699,
  30.3351163,
  -90.0448947,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549700,
  30.3351475,
  -90.0450141,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549701,
  30.3350943,
  -90.0449846,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549702,
  30.3351128,
  -90.0451106,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549703,
  30.3350526,
  -90.0450825,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549704,
  30.3355654,
  -90.0453118,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549705,
  30.3356256,
  -90.0453346,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549706,
  30.3356557,
  -90.0452474,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549707,
  30.3355955,
  -90.0452179,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549708,
  30.3356267,
  -90.0451334,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549709,
  30.3356881,
  -90.0451562,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549710,
  30.3357205,
  -90.0450677,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549711,
  30.3356603,
  -90.0450382,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549712,
  30.3357517,
  -90.0449832,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:49Z'),
 (4064549713,
  30.3356915,
  -90.0449537,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549714,
  30.3357784,
  -90.0449001,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549715,
  30.3357205,
  -90.0448746,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549716,
  30.3358108,
  -90.0448035,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549717,
  30.3357575,
  -90.044778,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549718,
  30.3358409,
  -90.0447123,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549719,
  30.3357888,
  -90.0446868,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549720,
  30.3358744,
  -90.0446131,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549721,
  30.3358212,
  -90.0445889,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549722,
  30.3359103,
  -90.0445098,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549723,
  30.3358571,
  -90.0444803,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549724,
  30.3359416,
  -90.0444267,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549725,
  30.3358837,
  -90.0443985,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549726,
  30.3359693,
  -90.0443489,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4064549727,
  30.3359103,
  -90.0443247,
  'clarceneaux',
  3269109,
  1,
  37887216,
  '2016-03-17T04:05:50Z'),
 (4506654389,
  29.3942669,
  -90.4863489,
  'LydiaKirk',
  4856826,
  1,
  43735448,
  '2016-11-17T16:47:33Z'),
 (4716690803,
  29.9543475,
  -90.0647699,
  'lokejul',
  2034065,
  1,
  46575977,
  '2017-03-04T16:13:45Z'),
 (4716690804,
  29.9543897,
  -90.0648378,
  'lokejul',
  2034065,
  1,
  46575977,
  '2017-03-04T16:13:46Z'),
 (4716720001,
  29.9546807,
  -90.0645659,
  'lokejul',
  2034065,
  1,
  46575977,
  '2017-03-04T16:13:45Z'),
 (4716748694,
  29.9546995,
  -90.0646011,
  'lokejul',
  2034065,
  1,
  46575977,
  '2017-03-04T16:13:47Z'),
 (4723054095,
  29.955136,
  -90.0650895,
  'lokejul',
  2034065,
  1,
  46663623,
  '2017-03-07T21:00:23Z'),
 (4723085701,
  29.9551831,
  -90.0651567,
  'lokejul',
  2034065,
  1,
  46663623,
  '2017-03-07T21:00:23Z'),
 (4723170692,
  29.9575325,
  -90.06314,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:36Z'),
 (4723170693,
  29.9575845,
  -90.0628906,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:37Z'),
 (4723170694,
  29.9573171,
  -90.063279,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:51Z'),
 (4723170695,
  29.9571544,
  -90.0630493,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:51Z'),
 (4723170696,
  29.9571912,
  -90.0633666,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:55Z'),
 (4723170697,
  29.9573347,
  -90.0624262,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:04Z'),
 (4723170698,
  29.9570387,
  -90.0627297,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:05Z'),
 (4723170699,
  29.9575158,
  -90.0635475,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:06Z'),
 (4723170700,
  29.9579465,
  -90.0628772,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:07Z'),
 (4723171295,
  29.9573745,
  -90.0630879,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:35Z'),
 (4723171296,
  29.957587,
  -90.063066,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:36Z'),
 (4723171297,
  29.957398,
  -90.0627807,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:38Z'),
 (4723171298,
  29.9573864,
  -90.0625512,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:41Z'),
 (4723171299,
  29.9576029,
  -90.0626019,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:43Z'),
 (4723171300,
  29.957787,
  -90.0630974,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:45Z'),
 (4723171301,
  29.9577635,
  -90.0631558,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:46Z'),
 (4723171302,
  29.9577956,
  -90.0629467,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:47Z'),
 (4723171303,
  29.9571533,
  -90.0627524,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:47Z'),
 (4723171304,
  29.9571329,
  -90.0629644,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:48Z'),
 (4723171305,
  29.95754,
  -90.0633394,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:48Z'),
 (4723171306,
  29.9574672,
  -90.0633394,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:49Z'),
 (4723171307,
  29.9573965,
  -90.0633201,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:50Z'),
 (4723171308,
  29.9573552,
  -90.0633036,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:50Z'),
 (4723171309,
  29.9569537,
  -90.0629066,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:53Z'),
 (4723171310,
  29.9570071,
  -90.0630819,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:54Z'),
 (4723171311,
  29.9570501,
  -90.0631687,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:54Z'),
 (4723171312,
  29.9579031,
  -90.0631369,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:58Z'),
 (4723171313,
  29.9577533,
  -90.0625188,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:01Z'),
 (4723171314,
  29.9576918,
  -90.0624326,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:01Z'),
 (4723171315,
  29.9576131,
  -90.0623379,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:02Z'),
 (4723171316,
  29.9575744,
  -90.0622409,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:03Z'),
 (4723171317,
  29.95747,
  -90.0623276,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:03Z'),
 (4723228489,
  29.95755,
  -90.0628252,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:37Z'),
 (4723228490,
  29.957446,
  -90.0626547,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:40Z'),
 (4723228491,
  29.957462,
  -90.0625565,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:42Z'),
 (4723228492,
  29.9575297,
  -90.0625675,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:42Z'),
 (4723228493,
  29.9577878,
  -90.0628743,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:44Z'),
 (4723228494,
  29.9577955,
  -90.063022,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:46Z'),
 (4723228495,
  29.9579535,
  -90.0630192,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:59Z'),
 (4723228496,
  29.9578879,
  -90.0626958,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:00Z'),
 (4723228497,
  29.9569533,
  -90.0629944,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:06Z'),
 (4723228689,
  29.9573396,
  -90.0628319,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:39Z'),
 (4723228690,
  29.9576546,
  -90.0626442,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:44Z'),
 (4723228691,
  29.9569558,
  -90.0627803,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:53Z'),
 (4723228692,
  29.9579342,
  -90.062798,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:59Z'),
 (4723228693,
  29.9576115,
  -90.06246,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:08Z'),
 (4723228889,
  29.9573229,
  -90.0630177,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:39Z'),
 (4723228890,
  29.9572473,
  -90.063464,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:56Z'),
 (4723228891,
  29.9573577,
  -90.0636054,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:57Z'),
 (4723228892,
  29.958015,
  -90.0629383,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:58Z'),
 (4723228893,
  29.9575068,
  -90.0623952,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:04Z'),
 (4723228894,
  29.957598,
  -90.0634735,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:43:07Z'),
 (4723229089,
  29.9575308,
  -90.0626815,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:41Z'),
 (4723229090,
  29.9571353,
  -90.0628424,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:52Z'),
 (4723229091,
  29.9573021,
  -90.0634978,
  'lokejul',
  2034065,
  1,
  46665655,
  '2017-03-07T22:42:56Z'),
 (4723453991,
  29.9572231,
  -90.0628464,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:43Z'),
 (4723453992,
  29.9577076,
  -90.06305,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:45Z'),
 (4723468490,
  29.9574877,
  -90.0632391,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:45Z'),
 (4723469190,
  29.9572235,
  -90.0629382,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:43Z'),
 (4723469191,
  29.9577067,
  -90.0629633,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:44Z'),
 (4723469192,
  29.9574143,
  -90.063217,
  'lokejul',
  2034065,
  1,
  46669795,
  '2017-03-08T04:04:46Z'),
 (4727795697,
  29.9423778,
  -90.0645544,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:47Z'),
 (4727795698,
  29.9428661,
  -90.0645684,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:47Z'),
 (4727795699,
  29.9432346,
  -90.0645786,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:48Z'),
 (4727795700,
  29.9433345,
  -90.0645709,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:49Z'),
 (4727795701,
  29.9416992,
  -90.0645204,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:54Z'),
 (4727795703,
  29.9398495,
  -90.0643803,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:04Z'),
 (4727795704,
  29.9400428,
  -90.0643907,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:05Z'),
 (4727798895,
  29.9431123,
  -90.0645751,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:48Z'),
 (4727798896,
  29.9434718,
  -90.0645821,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:50Z'),
 (4727798897,
  29.9437367,
  -90.0645936,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:51Z'),
 (4727798898,
  29.9441027,
  -90.0646069,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:52Z'),
 (4727798899,
  29.9402101,
  -90.0644018,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:06Z'),
 (4727807096,
  29.9407948,
  -90.0644993,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:07Z'),
 (4727807299,
  29.941851,
  -90.0645353,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:53Z'),
 (4727833392,
  29.9404295,
  -90.0644418,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:06Z'),
 (4727833393,
  29.9406387,
  -90.0644656,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:40:07Z'),
 (4727833589,
  29.9436009,
  -90.0645849,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:50Z'),
 (4727833689,
  29.9438783,
  -90.064604,
  'lokejul',
  2034065,
  1,
  46740536,
  '2017-03-10T14:39:52Z'),
 (4745709223,
  29.9548122,
  -90.0756637,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:46Z'),
 (4745709224,
  29.9537798,
  -90.0756849,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:47Z'),
 (4745709225,
  29.9538476,
  -90.0754486,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:48Z'),
 (4745709226,
  29.9538502,
  -90.0757942,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:48Z'),
 (4745709227,
  29.9546816,
  -90.075993,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:49Z'),
 (4745709228,
  29.9546093,
  -90.0760032,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:49Z'),
 (4745709229,
  29.9550821,
  -90.0761863,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:50Z'),
 (4745721626,
  29.9540998,
  -90.0754136,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:46Z'),
 (4745721627,
  29.9539653,
  -90.0755519,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:47Z'),
 (4745721725,
  29.9546284,
  -90.0752947,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:45Z'),
 (4745721726,
  29.9546944,
  -90.0754268,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:46Z'),
 (4745721727,
  29.9547535,
  -90.0755344,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:46Z'),
 (4745721728,
  29.9542511,
  -90.0753335,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:46Z'),
 (4745721729,
  29.9538894,
  -90.0757269,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:47Z'),
 (4745721730,
  29.953919,
  -90.0758243,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:48Z'),
 (4745721731,
  29.9549052,
  -90.0760418,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:49Z'),
 (4745721732,
  29.9550241,
  -90.0760542,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:49Z'),
 (4745721733,
  29.955062,
  -90.0761266,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:49Z'),
 (4745721821,
  29.9541265,
  -90.0755266,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:47Z'),
 (4745721822,
  29.9548726,
  -90.075969,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:48Z'),
 (4745721921,
  29.9547221,
  -90.0759614,
  'lokejul',
  2034065,
  1,
  47023176,
  '2017-03-20T20:32:48Z'),
 (4749491030,
  29.950479,
  -90.0656078,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:21Z'),
 (4749491031,
  29.950616,
  -90.0657524,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:22Z'),
 (4749491032,
  29.9506368,
  -90.0658266,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:22Z'),
 (4749491033,
  29.9504734,
  -90.065513,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:23Z'),
 (4749491230,
  29.9504691,
  -90.0658738,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:20Z'),
 (4749491231,
  29.9504446,
  -90.0658011,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:21Z'),
 (4749491232,
  29.9504311,
  -90.0657161,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:21Z'),
 (4749491233,
  29.9506005,
  -90.0656654,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:22Z'),
 (4749491338,
  29.9505381,
  -90.0655932,
  'lokejul',
  2034065,
  1,
  47077524,
  '2017-03-22T19:58:22Z'),
 (4756320902,
  29.9860934,
  -90.0940474,
  'Alan Bragg',
  443130,
  2,
  47177319,
  '2017-03-26T15:02:36Z'),
 (4756320903,
  29.984026,
  -90.0950888,
  'Alan Bragg',
  443130,
  3,
  47210341,
  '2017-03-27T19:31:55Z'),
 (4758076011,
  30.336668,
  -90.0403615,
  'Alan Bragg',
  443130,
  1,
  47203424,
  '2017-03-27T14:42:24Z'),
 (4758515695,
  29.9841776,
  -90.0957994,
  'Alan Bragg',
  443130,
  1,
  47210341,
  '2017-03-27T19:31:54Z'),
 (4760064124,
  29.9585645,
  -90.0608037,
  'lokejul',
  2034065,
  1,
  47235252,
  '2017-03-28T17:04:31Z'),
 (4760064125,
  29.9581853,
  -90.0611667,
  'lokejul',
  2034065,
  1,
  47235252,

In [ ]:
conn.close()

##### Investigate any other questions I may have

File size:

In [8]:
import sqlite3
import csv
from pprint import pprint
from supporting_files import data_wrangling_schema as dws

sqlite_file = 'supporting_files/exports/osm_db.db'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [9]:
# firtst get database file size
import os
database_size = os.path.getsize(sqlite_file) / 1000000
print("The size of the database is: %s mb" %round(database_size, 2))

The size of the database is: 69.51 mb

In [10]:
import pandas as pd
# pd.set_option('display.max_rows', 6)
# my own printing function
def df_query(query):
    df = pd.read_sql(query, conn)
    return df

Top 10 contributors:

In [11]:
query = """
SELECT
    all_tables.user,
    SUM(Total) Total
FROM
    (
    SELECT
        nodes.user,
        COUNT(*) AS Total
    FROM nodes
    GROUP BY nodes.user

    UNION ALL

    SELECT
        relations.user,
        COUNT(*) AS Total
    FROM relations
    GROUP BY relations.user
    
    UNION ALL
    
    SELECT
        ways.user,
        COUNT(*) AS Total
    FROM ways
    GROUP BY ways.user
    ORDER BY Total DESC   
    
    ) AS all_tables

GROUP BY user
ORDER BY Total DESC
LIMIT 10
"""

df_query(query)

                     user  Total
0            Maarten Deen  17203
1              Matt Toups  16735
2                 ELadner   4589
3                 Andre68   3134
4                    wvdp   2010
5  OSMF Redaction Account   1752
6         woodpeck_repair    994
7              dmgroom_ct    465
8      Hartmut Holzgraefe    345
9                 amillar    296

Total number of nodes, ways, relations:

In [12]:
# nodes
query = """
SELECT COUNT(*) AS Total FROM nodes
"""

df_query(query)

   Total
0    521

In [13]:
# ways
query = """
SELECT COUNT(*) AS Total FROM ways
"""

df_query(query)

   Total
0  45280

In [14]:
# relations
query = """
SELECT COUNT(*) AS Total FROM relations
"""

df_query(query)

   Total
0   3803

In [15]:
# nodes, ways and relations
query = """
SELECT
    SUM(all_tables.Total) AS Total_All
FROM 
    (
        SELECT COUNT(*) AS Total FROM nodes

        UNION ALL

        SELECT COUNT(*) AS Total FROM ways

        UNION ALL

        SELECT COUNT(*) AS Total FROM relations
    ) AS all_tables
"""

df_query(query)

   Total_All
0      49604

Additional analysis: All the unnamed features. For example:
* Way ID: 43829974 connects to one of its nodes: 555906935 which has lat/lon coordinates lat="29.2658771" lon="-89.4146036". OpenStreetMaps shows those coordinates indeeed to be just some random natural feature [hEre](http://www.openstreetmap.org/search?query=29.2658771%2C%20-89.4146036#map=18/29.26588/-89.41460).

What about all of the unnamed features?
First, to review the named ones:

In [16]:
query = """

SELECT
    all_tables.value
FROM
    (
    SELECT
        nodes_tags.value
    FROM nodes_tags
    WHERE nodes_tags.key="name"
    GROUP BY nodes_tags.value
    
    UNION ALL
    
    SELECT
        ways_tags.value
    FROM ways_tags
    WHERE ways_tags.key="name"
    GROUP BY ways_tags.value
    
    UNION ALL
    
    SELECT
        relations_tags.value
    FROM relations_tags
    WHERE relations_tags.key="name"
    GROUP BY relations_tags.value
    ORDER BY relations_tags.value
    
    ) AS all_tables

GROUP BY all_tables.value
ORDER BY all_tables.value
"""

df_query(query)

                             value
0    Abita Springs Park Splash Pad
1                       Adema Pond
2                     Alberts Pond
3                       Alexis Bay
4                        Allen Bay
5                   Alligator Bend
6                     American Bay
7                     Anderson Bay
8                      Andres Pond
9         Ashton Plantation Pond 1
10        Ashton Plantation Pond 3
11                     Auguste Bay
12                   Baie A Carlin
13                  Baie Chevreuil
14                  Baie D'En Haut
15            Baie Des Deux Chenes
16                   Barataria Bay
17                 Bassa Bassa Bay
18                     Bastian Bay
19                    Bastian Lake
20               Battle Ground Bay
21                    Bay Baptiste
22                     Bay Batiste
23                    Bay Boudreau
24                Bay Carrion Crow
25                     Bay Chaland
26                      Bay Chalon
27                 Bay Chene Fleur
28          Bay Cheniere Ronquille
29                       Bay Cheri
..                             ...
466                    Turkey Lake
467                     Turtle Bay
468               Twentyseven Pond
469                Twilight Harbor
470                     Twin Lakes
471              Upper Black Bayou
472            Upper Wilkinson Bay
473                Valentiers Pond
474                  Victor Island
475                Washington Pond
476                       West Bay
477                     West Canal
478             West Champagne Bay
479                West Karako Bay
480                 Westwego Swamp
481                      Whale Bay
482                    Whiskey Bay
483                Whitfield Bight
484                   Widgeon Pond
485                  Wilkinson Bay
486                Wilkinson Bayou
487                   Willow Bayou
488            Willow Outside Pond
489                    Willow Pond
490                  Woodyard Pond
491                    Wright Pass
492                            Xxx
493                    Yankee Pond
494              Yellow Cotton Bay
495                     Zinzin Bay

[496 rows x 1 columns]

Now how to quantify the unnamed features? How many unnamed lakes/ponds, etc. are there? But are ways elements relying on a tag or relation to have the name?

In [ ]:
# NOTES
    # db contains only elems that had a 'natural' tag
    # but note, elems such as 'way' 49613025 don't have a 'natural' tag elem.
        # so goal here is to fix NHD data - not comprehensively ALL the data!
    # what if a way is used as a name in a relation?
        # 

# REQS
    # Filter to elements that are described by a relevant NHD:FType but don't have a 'name' tag element describing them (unnamed elems)
# RULES
    # Must be a way or relation elem id that is represented by a set from ways_tags or relations_tags tables
    # Set must NOT have a 'name' key in it
    # Set MUST have an 'FTYPE' key in it
# ALGO
    # EXPERIMENT: What computational logic does sql use (that I know of so far)?
        # join tables
        # filter
        # sort
    # Create list of all way/relation tag elem ids with name in them
    # Find each FType elem id that is NOT in the previous list
    # Branch off/aggregate accordingly
# DECOMP
    # Create list of all way/relation tag elems with 'name' as their key
    # Create a list of all way/relation tag elems with 'FType' as their element
    # Simplify the lists
    # Filter FType list using name list
    # Pull other insights

In [17]:
# All way/relation ids with 'name' as their key
query = """

SELECT
    all_tables.id,
    all_tables.value
FROM
    (
    SELECT
        *
    FROM ways_tags
    WHERE ways_tags.key="name"
    
    UNION ALL
    
    SELECT
        *
    FROM relations_tags
    WHERE relations_tags.key="name"
    
    ) AS all_tables
"""

df_query(query)

     all_tables.id             all_tables.value
0         22500204             Halliburton Slip
1         22516599                   Round Lake
2         22517455                   Round Lake
3         43232567                    Gum Swamp
4         43232570                    Gum Swamp
5         43240505               Fritchie Marsh
6         43240520               Fritchie Marsh
7         43240525               Fritchie Marsh
8         43240970                    Boggy Bay
9         43241104                 Savanna Lake
10        43243754                Bayou Laurier
11        43244813                Little Lagoon
12        43245698                   Cowpen Bay
13        43246928               Bayou Des Mats
14        43246934               Bayou Des Mats
15        43246941               Bayou Des Mats
16        43246947               Bayou Des Mats
17        43247043                 Foster Bayou
18        43272017  Turiano Lagoon (Historical)
19        43272671  Turiano Lagoon (Historical)
20        43273136                Magill Lagoon
21        43273139                Magill Lagoon
22        43273277                Magill Lagoon
23        43291471                Magill Lagoon
24        43291652                    Lost Lake
25        43291696                   Bobs Lakes
26        43291753                   Bobs Lakes
27        43291945                 Stump Lagoon
28        43293454               Bernard Lagoon
29        43293465                Magill Lagoon
..             ...                          ...
560        4161039                   Turtle Bay
561        4161353                  Brusle Lake
562        4163930                 Raquette Bay
563        4163935          Upper Wilkinson Bay
564        4170088        Bayou Grande Cheniere
565        4181318                   Coffee Bay
566        4181319                  Bay Dosgris
567        4182980              Bayou Lafourche
568        4183069                     Long Bay
569        4183326              Three Bayou Bay
570        4196263             Saint Joseph Bay
571        4210610               Bayou St Denis
572        4213855                     Mud Lake
573        4215305              Bay Chene Fleur
574        4216718              Wilkinson Bayou
575        4217254                Wilkinson Bay
576        4496553              Bayou Lafourche
577        4512013                  Bayou Garci
578        4512014                Lake Palourde
579        4512620                   North Lake
580        4512621                   South Lake
581        4536868                    Bay Rambo
582        4536869                   Bay L'Ours
583        4538303                     Oaks Bay
584        4626652               Bayou Ferblanc
585        4626653                 Lake Laurier
586        5380366                 Bayou Roseau
587        5380367               Palmetto Bayou
588        5380400                   Round Lake
589        7145555            Buras Boat Harbor

[590 rows x 2 columns]

In [23]:
# All way/relation ids with 'FType' as their key
query = """
SELECT
    all_tables.id,
    COUNT(*) AS Total,
    all_tables.value
FROM
    (
    SELECT
        *
    FROM ways_tags
    WHERE ways_tags.key="FType"
    
    UNION ALL
    
    SELECT
        *
    FROM relations_tags
    WHERE relations_tags.key="FType"
    
    ) AS all_tables
GROUP BY all_tables.value
"""

df_query(query)

          id  Total                  value
0  321535489      1                    466
1    2082789      3             CanalDitch
2  191631476      2  CanalDitch;SwampMarsh
3    7077413  21895               LakePond
4  475760275    480               SeaOcean
5    4496553     25            StreamRiver
6    7077411  15234             SwampMarsh
7  190765058     19    SwampMarsh;LakePond

Note cleaning that needs to be done here - circle back to data.py algo and adjust where necessary... or,this is not cleaning - just the best way to describe the data...

Filter out any way or relation that is

In [20]:
query = """
SELECT *, COUNT(*) as Total
    FROM (
    SELECT
        all_tables.id,
        all_tables.value
    FROM
        (
        SELECT
            *
        FROM ways_tags
        WHERE ways_tags.key="FType"

        UNION ALL

        SELECT
            *
        FROM relations_tags
        WHERE relations_tags.key="FType"

        ) AS all_tables
    ) AS ftype_table
WHERE ftype_table.id NOT IN (
    SELECT
        all_tables.id
    FROM
        (
        SELECT
            *
        FROM ways_tags
        WHERE ways_tags.key="name"

        UNION ALL

        SELECT
            *
        FROM relations_tags
        WHERE relations_tags.key="name"

        ) AS all_tables
)
GROUP By ftype_table.value
"""

df_query(query)

          id                  value  Total
0  321535489                    466      1
1    2082789             CanalDitch      3
2  191631476  CanalDitch;SwampMarsh      2
3    7077413               LakePond  21392
4  475760275               SeaOcean    480
5    1972439            StreamRiver     21
6    7077411             SwampMarsh  15222
7  190765058    SwampMarsh;LakePond     19

### Report on how data could be improved

Investigate (programmatically) the date the data was uploaded, then compare to the date when the NHD switched over to the Permanent identifier