# Stroop Effect EDA

#### NOTES:

Taking less time on set 2 than set 1 may indicate either people are just clicking through on the buttons (not actually taking a test administered by someone), or maybe some people are just better at looking at colors despite it being an incongruency


My times:
Congruent, 19.607 sec
Incongruent, 27.203
total 38.497
diff, 7.596

What is the difference between your Word Set 2 time and Word Set 1 time? (To calculate the difference: Word 2 time - Word 1 time = Difference Time)
204083
Word set 2 time is LESS than word set 1 time	13809	6.77%
0-5 sec	40098	19.65%
5-10 sec	52420	25.69%
10-15 sec	48947	23.98%
15-20 sec	23050	11.29%
20-25 sec	11958	5.86%
25-30 sec	4927	2.41%
30-35 sec	3047	1.49%
35-40 sec	1930	0.95%
More than 40 sec	3897	1.91%

##### Project Notes
As descibed in the Instuctions section for this Udacity project, the experiement investigating the Stroop Effect is as follows:

*In a Stroop task, participants are presented with a list of words, with each word displayed in a color of ink. The participantâ€™s task is to say out loud the color of the ink in which the word is printed. The task has two conditions: a congruent words condition, and an incongruent words condition. In the congruent words condition, the words being displayed are color words whose names match the colors in which they are printed: for example RED, BLUE. In the incongruent words condition, the words displayed are color words whose names do not match the colors in which they are printed: for example PURPLE, ORANGE. In each case, we measure the time it takes to name the ink colors in equally-sized lists. Each participant will go through and record a time from each condition.*

A couple notes of clarification, the same exact test is given to a sample of people in which the time it takes you to read the whole list **correctly** is documented.

#### Question 1. What is our independent variable? What is our dependent variable?

The independent variable is the time it takes to name the ink color in equally-sized lists. The Dependent variable is the frequency of test takers grouped in intervals corresponding to a given interval.

#### Question 2. What is an appropriate set of hypotheses for this task? What kind of statistical test do you expect to perform? Justify your choices.

#### Load data

In [113]:
import pandas as pd
import numpy as np

In [114]:
# load stroop data
stroop_data = pd.read_csv('stroopdata.csv')
stroop_data.head()

   Congruent  Incongruent
0     12.079       19.278
1     16.791       18.741
2      9.564       21.214
3      8.630       15.687
4     14.669       22.803

In [115]:
# create new column with difference between Congruent and Incongruent
for row in stroop_data:
    stroop_data['Difference'] = stroop_data['Congruent'] - stroop_data['Incongruent']
    
stroop_data

    Congruent  Incongruent  Difference
0      12.079       19.278      -7.199
1      16.791       18.741      -1.950
2       9.564       21.214     -11.650
3       8.630       15.687      -7.057
4      14.669       22.803      -8.134
5      12.238       20.878      -8.640
6      14.692       24.572      -9.880
7       8.987       17.394      -8.407
8       9.401       20.762     -11.361
9      14.480       26.282     -11.802
10     22.328       24.524      -2.196
11     15.298       18.644      -3.346
12     15.073       17.510      -2.437
13     16.929       20.330      -3.401
14     18.200       35.255     -17.055
15     12.130       22.158     -10.028
16     18.495       25.139      -6.644
17     10.639       20.429      -9.790
18     11.344       17.425      -6.081
19     12.369       34.288     -21.919
20     12.944       23.894     -10.950
21     14.233       17.960      -3.727
22     19.710       22.058      -2.348
23     16.004       21.157      -5.153

In [116]:
# summarize the stroop data
stroop_summary = stroop_data.describe()
stroop_summary

       Congruent  Incongruent  Difference
count  24.000000    24.000000   24.000000
mean   14.051125    22.015917   -7.964792
std     3.559358     4.797057    4.864827
min     8.630000    15.687000  -21.919000
25%    11.895250    18.716750  -10.258500
50%    14.356500    21.017500   -7.666500
75%    16.200750    24.051500   -3.645500
max    22.328000    35.255000   -1.950000

In [117]:
# retrieve individual statistics from stroop data
stroop_mean = stroop_summary.get_value('mean','Difference')
stroop_std = stroop_summary.get_value('std','Difference')
print("The stroop sample mean is %f" % stroop_mean)
print("The stroop sample standard deviation is %f" % stroop_std)

The stroop sample mean is -7.964792
The stroop sample standard deviation is 4.864827

In [118]:
# TODO: deal with "More than 40 sec" 
interval_labels = ['0-5 sec','5-10 sec','10-15 sec','15-20 sec','20-25 sec','25-30 sec','30-35 sec','35-40 sec','More than 40 sec']
grouped = pd.Series([40098,52420,48947,23050,11958,4927,3047,1930,3897], index=interval_labels)
midpoints = pd.Series([2.5, 7.5, 12.5, 17.5, 22.5, 27.5, 32.5, 37.5, 42.5], index=interval_labels)
grouped_results = pd.DataFrame({'Midpoint': midpoints,
                               'Total':grouped})
grouped_results

                  Midpoint  Total
0-5 sec                2.5  40098
5-10 sec               7.5  52420
10-15 sec             12.5  48947
15-20 sec             17.5  23050
20-25 sec             22.5  11958
25-30 sec             27.5   4927
30-35 sec             32.5   3047
35-40 sec             37.5   1930
More than 40 sec      42.5   3897

In [119]:
grouped_results.describe()

        Midpoint         Total
count   9.000000      9.000000
mean   22.500000  21141.555556
std    13.693064  20783.388145
min     2.500000   1930.000000
25%    12.500000   3897.000000
50%    22.500000  11958.000000
75%    32.500000  40098.000000
max    42.500000  52420.000000

In [140]:
# attempt: group data from sample
stroop_data

    Congruent  Incongruent  Difference
0      12.079       19.278      -7.199
1      16.791       18.741      -1.950
2       9.564       21.214     -11.650
3       8.630       15.687      -7.057
4      14.669       22.803      -8.134
5      12.238       20.878      -8.640
6      14.692       24.572      -9.880
7       8.987       17.394      -8.407
8       9.401       20.762     -11.361
9      14.480       26.282     -11.802
10     22.328       24.524      -2.196
11     15.298       18.644      -3.346
12     15.073       17.510      -2.437
13     16.929       20.330      -3.401
14     18.200       35.255     -17.055
15     12.130       22.158     -10.028
16     18.495       25.139      -6.644
17     10.639       20.429      -9.790
18     11.344       17.425      -6.081
19     12.369       34.288     -21.919
20     12.944       23.894     -10.950
21     14.233       17.960      -3.727
22     19.710       22.058      -2.348
23     16.004       21.157      -5.153

In [150]:
# practice grouping
stroop_data.groupby(['Congruent']).first()

           Incongruent  Difference
Congruent
8.630           15.687      -7.057
8.987           17.394      -8.407
9.401           20.762     -11.361
9.564           21.214     -11.650
10.639          20.429      -9.790
11.344          17.425      -6.081
12.079          19.278      -7.199
12.130          22.158     -10.028
12.238          20.878      -8.640
12.369          34.288     -21.919
12.944          23.894     -10.950
14.233          17.960      -3.727
14.480          26.282     -11.802
14.669          22.803      -8.134
14.692          24.572      -9.880
15.073          17.510      -2.437
15.298          18.644      -3.346
16.004          21.157      -5.153
16.791          18.741      -1.950
16.929          20.330      -3.401
18.200          35.255     -17.055
18.495          25.139      -6.644
19.710          22.058      -2.348
22.328          24.524      -2.196

In [124]:
# temp dataframe
df = pd.DataFrame({'Midpoint':midpoints,
                  'Total':np.nan})
df

                  Midpoint  Total
0-5 sec                2.5    NaN
5-10 sec               7.5    NaN
10-15 sec             12.5    NaN
15-20 sec             17.5    NaN
20-25 sec             22.5    NaN
25-30 sec             27.5    NaN
30-35 sec             32.5    NaN
35-40 sec             37.5    NaN
More than 40 sec      42.5    NaN

In [147]:
# new_df = stroop_data[stroop_data.Incongruent < 20]
# new_df
# new_df2 = stroop_data[stroop_data.Incongruent > 30]
# new_df2

# new_df3 = pd.concat([new_df, new_df2])
# new_df3